{% from "_data_helpers.html" import render_budget_overview, projects_budget_tab, copy_table_button with context %}

{% macro sy_budget_tab(df) %}
<div class="block">
    <form action="/budget" method="POST">
        {{ form.csrf_token() }}
        <div class="field has-addons has-addons-right">
            <div class="control">
                <div class="select">
                    {{ form.sy() }}
                </div>
            </div>
            <div class="control">
                {{ form.submit(class_="button is-link") }}
            </div>
        </div>
    </form>
</div>

<div class="box">  
    <div class="tabs is-centered is-toggle is-toggle-rounded">
        <ul>
            <li class="is-active" data-target="main"><a>Synthèse</a></li>
            <li data-target="sy"><a>Année scolaire</a></li>
            <li data-target="y1"><a>{{ regex_replace(' -.*$', '', sy) }}</a></li>
            <li data-target="y2"><a>{{ regex_replace('^.*- ', '', sy) }}</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="main">
            <div class="columns is-multiline is-centered">
                <div class="column is-narrow">  
                    <div class="box">
                        {{ render_budget_overview(df) }}
                    </div>
                    {{ copy_table_button("budget-overview") }}
                </div>
            </div>
        </div>

        <div id="sy" class="is-hidden">
            <div class="columns is-multiline is-centered">
                <div class="column is-narrow">  
                    <div class="box">
                        {{ projects_budget_tab(df, copy_button=True) }}
                    </div>
                </div>
            </div>
        </div>

        <div id="y1" class="is-hidden">
            <div class="columns is-multiline is-centered">
                <div class="column is-narrow">  
                    <div class="box">
                        {{ projects_budget_tab(df, year="1", copy_button=True) }}
                    </div>
                </div>
            </div>
        </div>

        <div id="y2" class="is-hidden">
            <div class="columns is-multiline is-centered">
                <div class="column is-narrow">  
                    <div class="box">
                        {{ projects_budget_tab(df, year="2", copy_button=True) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro fy_budget_tab(df) %}
<div class="block">
    <form action="/budget" method="POST">
        {{ form.csrf_token() }}
        <div class="field has-addons has-addons-right">
            <div class="control">
                <div class="select">
                    {{ form2.fy() }}
                </div>
            </div>
            <div class="control">
                {{ form2.submit(class_="button is-link") }}
            </div>
        </div>
    </form>
</div>

<div class="box">  
    <div class="tabs is-centered is-toggle is-toggle-rounded">
        <ul>
            <li class="is-active" data-target="fy-main"><a>Synthèse</a></li>
            <li data-target="fy"><a>Liste des projets</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="fy-main">
            <div class="columns is-multiline is-centered">
                <div class="column is-narrow">  
                    <div class="box">
                        {{ render_budget_overview(df) }}
                    </div>
                        {{ copy_table_button("fy-budget-overview") }}
                </div>
            </div>
        </div>

        <div id="fy" class="is-hidden">
            <div class="columns is-multiline is-centered">
                <div class="column is-narrow">  
                    <div class="box">
                        {{ projects_budget_tab(df, year="0", copy_button=True) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}