{% from "_projects_helpers.html" import project_icons, comments_icon, project_tooltip with context %}


{% macro render_note(criterion, projects) %}
<details name="project">
    <summary>
        {% if criterion == "Terminale" %}
        <span style="display:none">0</span>Terminale
        {% else %}
            {{ criterion }}
        {% endif %}
    </summary>
    <div class="container has-text-weight-normal pl-4">
        <ol>
            {% for project in projects %}
            <li>{{ project }}</li>
            {% endfor %}
        </ol>
    </div>
</details>
{% endmacro %}


{% macro sort_table(arg=True) %}
{% if arg  %}
    <span>&uarr;</span>
{% endif %}
{% endmacro %}


{% macro copy_table_button(table_id, projects=false) %}
<div class="control">
    <div class="buttons is-right">
        {# <button class="button is-info is-light is-outlined">Aide</button> #}
        <div class="tooltip">
            <button class="button is-primary" onClick="copyTable(this, '{{ table_id }}')">
                Copier le tableau
            </button>
            <div class="tooltiptext">
                Cliquer pour copier le tableau dans le presse-papiers.
                <i></i>
            </div>
        </div>
        <button class="button is-info is-outlined js-modal-trigger" data-target="modal-copy-help{{ '-projects' if projects else '' }}">
            <span class="icon is-small">
                <i class="fas fa-circle-info"></i>
            </span>
            <span>Aide</span>
        </button>
    </div>
</div>
{% endmacro %}


{% macro copy_button_help_modal(projects=false) %}
<div id="modal-copy-help{{ '-projects' if projects else '' }}" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Aide</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                    <h3>Importer les données dans un tableur</h3>
                    <p>Cliquer sur le bouton <button class="button is-primary is-small">Copier le tableau</button> pour copier le tableau dans le presse-papier.</p>
                    <p>Puis utiliser le menu <strong>Édition > Coller</strong> de votre tableur préféré ou les touches du clavier <button class="button is-small is-family-code">Ctrl</button> + <button class="button is-small is-family-code">V</button> pour coller les données dans le tableur.</p>
                    {% if projects %}
                    <p>Le statut d'un projet est représenté par un nombre de 0 à 4 :</p>
                    <ol start="0">
                        <li> {{ project_icons("draft") }} Projet en construction (brouillon)</li>
                        <li> {{ project_icons("ready-1") }} Budget en attente de validation ou projet en attente de validation initiale</li>
                        <li> {{ project_icons("validated-1") }} Budget validé, validation initiale du projet, ou projet dévalidé</li>
                        <li> {{ project_icons("ready") }} Projet en attente de validation finale</li>
                        <li> {{ project_icons("validated") }} Projet validé (validation finale)</li>
                    </ol>
                    {% endif %}
                    <p>Les tableaux de la page <strong>Budget</strong> n'affichent pas les projets en construction.</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button">Fermer</button>
        </footer>
    </div>
</div>
{% endmacro %}


{% macro render_table(label, field, section=none, arg="1") %}
{# required data: df, dist, choice #}
{# section: agroup of departments (only used if field is "department") #}
{# arg = 1: choices[field] is a list of values #}
{# arg = 2: choices[field] is a list of tuples (value, label) #}
<div class="table-container">
    <table class="table is-striped is-hoverable">
        <thead>
        <tr class="has-background-primary">
            <th class="is-clickable py-3">
                {{ label }} {{ sort_table() }}
            </th>
            {% if field != "divisions" %}
            <th class="is-clickable px-5 py-3">
                Élèves {{ sort_table() }}
            </th>
            {% endif %}
            <th class="is-clickable px-5 py-3">
                Projets {{ sort_table() }}
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for option in choices[section if section else field] %}
        <tr>
            <td class="py-1">
                {% if arg == "1" %}
                    {{ render_note(option, df[df[field].str.contains("(?:^|,)" + option + "(?:,|$)")]["title"]) }}
                {% else %}
                    {{ render_note(option[1], df[df[field].str.contains(option[0])]["title"]) }}
                {% endif %}
            </td>
            {% if field != "divisions" %}
            <td class="px-5 py-1 has-text-right">
                {% if arg == "1" %}
                    {{ df[df[field].str.contains("(?:^|,)" + option + "(?:,|$)")]["nb_students"].sum() }}
                {% else %}
                    {{ df[df[field].str.contains(option[0])]["nb_students"].sum() }}
                {% endif %}
            </td>
            {% endif %}
            <td class="px-5 py-1 has-text-right">
                {{ dist[option[0]][0] if arg == "2" else dist[option][0] }}
            </td>
            <td class="px-5 py-1 has-text-right">
                {{ dist[option[0]][1] if arg == "2" else dist[option][1] }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>TOTAL</th>
                {% if field != "divisions" %}
                <th class="px-5 has-text-right">{{ df["nb_students"].sum() }}</th>
                {% endif %}
                <th class="px-5 has-text-right">{{ dist[section] if section else df|count }}</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
{% endmacro %}


{% macro render_teachers_table(label, section="departments") %}
{# table for teachers, teachers and departments, teachers and department groups #}
{# required data: df, dist, choice #}
<div class="table-container">
    <table class="table is-striped is-hoverable">
        <thead>
        <tr class="has-background-primary">
            <th class="is-clickable py-3">
                {{ label }} {{ sort_table() }}
            </th>
            {% if section in ["departments", "secondary"] %}
            <th class="is-clickable px-5 py-3">
                Département {{ sort_table() }}
            </th>
            {% endif %}
            <th class="is-clickable px-5 py-3">Élèves {{ sort_table() }}</th>
            <th class="is-clickable px-5 py-3">
                Projets {{ sort_table() }}
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% set selection = choices[section] if choices[section]|length > 0 else [section] %}
        {% for teacher in choices["teachers"] %}
            {% if teacher[2] in selection %}
            <tr>
                <td class="py-1">
                    {{ render_note(teacher[1], df[df.teachers.str.contains(teacher[0])]["title"]) }}
                </td>
                {% if section in ["departments", "secondary"] %}
                <td class="px-5 py-1">
                    {{ teacher[2] }}
                </td>
                {% endif %}
                <td class="px-5 py-1 has-text-right">
                    {{ dist[teacher[0]][2] }}
                </td>
                <td class="px-5 py-1 has-text-right">
                    {{ dist[teacher[0]][0] }}
                </td>
                <td class="px-5 py-1 has-text-right">
                    {{ dist[teacher[0]][1] }}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>TOTAL</th>
                {% if section in ["departments", "secondary"] %}
                <th></th>
                {% endif %}
                <th></th>
                <th class="px-5 has-text-right">
                {% if section == "departments" %}
                    {{ dist['TOTAL'] }}
                {% else %}
                    {{ dist[section][0] }}
                {% endif %}
                </th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
{% endmacro %}

{% macro render_budget_overview(df, label="Départements", field="departments", year="", copy_button=false) %}
{# required data: choices #}
{# field: departments, teachers #}
{# year: "" for school year budget, "1" or "2" for fiscal year budget, "0" for cumulative fiscal year budget #}
{% if year == "0" %}
    {% set tableId = "fy-budget-overview" %}
    {% set year = "" %}
{% else %}
    {% if year %}
        {% set tableId = "budget-overview" + "-" + year %}
    {% else %}
        {% set tableId = "budget-overview" %}
    {% endif %}
{% endif %}
<div class="table-container">
    <table id="{{ tableId }}" class="table is-striped is-hoverable">
        <thead>
        <tr class="has-background-primary">
            <th class="is-clickable py-3">
                {{ label }} {{ sort_table() }}
            </th>
            <th class="pl-5 py-3">Projets {{ sort_table() }}</th>
            <th class="px-5 py-3">Élèves {{ sort_table() }}</th>
            {% for budget in choices["budget"] %}
            <th class="is-clickable pl-5 py-3">
                {{ choices["budget"][budget] }} {{ sort_table() }}
            </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for option in choices[field] %}
        {% set df = df[df[field].str.contains("(?:^|,)" + option + "(?:,|$)")] %}
        <tr>
            <td class="py-1">
                {{ option }}
            </td>
            <td class="px-5 py-1 has-text-right">
                {{ df|count }}
            </td>
            <td class="px-5 py-1 has-text-right">
                {{ df["nb_students"].sum() }}
            </td>
            {% for budget in choices["budget"] %}
                <td class="pr-5 py-1 has-text-right">
                    {{ krw(df[budget + "_" + year if year else budget].sum(), False) }}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>TOTAL</th>
                <th class="px-5 has-text-right">{{ df|count }}</th>
                <th class="px-5 has-text-right">{{ df["nb_students"].sum() }}</th>
                {% for budget in choices["budget"] %}
                <th class="pr-5 has-text-right">
                    {{ krw(df[budget].sum(), False) }}
                </th>
                {% endfor %}
            </tr>
        </tfoot>
    </table>
</div>

{% if copy_button %}
    {{ copy_table_button(tableId) }}
{% endif %}
{% endmacro %}


{% macro render_projects_budget_table(df, dpt="LFS", year="", copy_button=false) %}
{# required data: choices #}
{# dpt: department name #}
{# year: "" for school year budget, "1" or "2" for fiscal year budget, "0" for cumulative fiscal year budget #}
{% if year == "0" %}
    {% set tableId = "fy-" + dpt | lower | replace(" ", "-") | replace("é", "e") %}
    {% set year = "" %}
{% else %}
    {% if year %}
        {% set tableId = dpt | lower | replace(" ", "-") | replace("é", "e") + "-" + year %}
    {% else %}
        {% set tableId = dpt | lower | replace(" ", "-") | replace("é", "e") %}
    {% endif %}
{% endif %}
{% if dpt != "LFS" %}
    {% set df = df[df.departments.str.contains("(?:^|,)" + dpt + "(?:,|$)")] %}
{% endif %}
<div class="table-container">
    <table id="{{ tableId }}" class="table is-striped is-hoverable">
        <thead>
        <tr class="has-background-primary">
            <th class="is-clickable pr-5 py-3">
                Projets {{ "LFS" if dpt == "LFS" else dpt }} {{ sort_table() }}
            </th>
            {% if fy %}
            <th class="px-5 py-3">Année scolaire {{ sort_table() }}</th>
            {% endif %}
            <th class="is-clickable px-5 py-3">Élèves {{ sort_table() }}</th>
            <th class="is-clickable px-5 py-3">Statut {{ sort_table() }}</th>
            {% for budget in choices["budget"] %}
            <th class="is-clickable px-5 py-3">
                {{ choices["budget"][budget] }} {{ sort_table() }}
            </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for project in df.itertuples() %}
            <tr>
                <td class="pr-5 py-1">
                    {{ project.title }}
                </td>
                {% if fy %}
                <td class="px-5 py-1 has-text-centered">
                    {{ project.school_year }}
                </td>
                {% endif %}
                <td class="px-5 py-1 has-text-right">
                    {{ project.nb_students }}
                </td>
                <td class="px-5 py-1 has-text-centered" data-title="{{ project_tooltip(project) }}">
                    <span style="display: none">
                        {{ get_validation_rank(project.status) }}
                    </span>
                    {{ project_icons(project.status) }}
                </td>
                {% for budget in choices["budget"] %}
                <td class="px-5 py-1 has-text-right">
                    {{ krw(project[budget + "_" + year if year else budget], False) }}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>TOTAL</th>
                {% if fy %}
                <th class="px-5"></th>
                {% endif %}
                <th class="px-5 has-text-right">{{ df["nb_students"].sum() }}</th>
                <th class="px-5 has-text-centered">{{ df|count }}</th>
                {% for budget in choices["budget"] %}
                    <th class="px-5 has-text-right">{{ krw(df[budget + "_" + year if year else budget].sum(), False) }}</th>
                {% endfor %}
            </tr>
        </tfoot>
    </table>
</div>

{% if copy_button %}
    {{ copy_table_button(tableId, projects=true) }}
{% endif %}
{% endmacro %}

{% macro projects_budget_tab(df, year="", copy_button=false) %}
<div class="block has-text-centered">
    <div class="dropdown is-hoverable is-up">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu{% if year %}-{{ year }}{% endif %}">
                <span>Départements</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu{% if year %}-{{ year }}{% endif %}" role="menu">
            <div class="dropdown-content">
                {% for department in choices["lfs"] %}
                <a data-target="dpt-{{ loop.index }}{% if year %}-{{ year }}{% endif %}" class="dropdown-item is-size-6 {% if loop.first %}is-active{% endif %}">{{ department }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="tab-content">
    {% for department in choices["lfs"] %}
    <div id="dpt-{{ loop.index }}{% if year %}-{{ year }}{% endif %}" {% if not loop.first %} class="is-hidden" {% endif %}>
        {{ render_projects_budget_table(df, department, year, copy_button) }}
    </div>
    {% endfor %}
</div>
{% endmacro %}


{% macro render_personnels_table(personnels, department=false) %}
{# personnel table for dashboard page #}
<div class="table-container">
    <table class="table is-striped is-hoverable">
        <thead>
        <tr class="has-background-primary">
            <th class="is-clickable pr-5 py-3">
                Adresse e-mail {{ sort_table() }}
            </th>
            <th class="is-clickable pr-5 py-3">
                pid {{ sort_table() }}
            </th>
            <th class="is-clickable pr-5 py-3">
                Prénom {{ sort_table() }}
            </th>
            <th class="is-clickable pr-5 py-3">
                Nom {{ sort_table() }}
            </th>
            {% if not department %}
            <th class="is-clickable pr-5 py-3">
                Département {{ sort_table() }}
            </th>
            {% endif %}
            <th class="is-clickable pr-5 py-3">
                Rôle {{ sort_table() }}
            </th>
            <th class="is-clickable pr-5 py-3">
                Première connexion {{ sort_table() }}
            </th>
            <th class="is-clickable pr-5 py-3">
                uid {{ sort_table() }}
            </th>
            <th class="is-clickable px-5 py-3">
                Projets {{ sort_table() }}
            </th>
        </tr>
        </thead>
        <tbody>
            {% for personnel in personnels %}
                <tr>
                    <td class="py-1">
                        {{ personnel.email }}
                    </td>
                    <td class="pr-5 py-1">
                        {{ personnel.id }}
                    </td>
                    <td class="pr-5 py-1">
                        {{ get_name(personnel.email, option="f") }}
                    </td>
                    <td class="pr-5 py-1">
                        {{ get_name(personnel.email, option="n") }}
                    </td>
                    {% if not department %}
                    <td class="pr-5 py-1">
                        {{ personnel.department }}
                    </td>
                    {% endif %}
                    <td class="pr-5 py-1">
                        {{ personnel.role if personnel.role != "user" else "" }}
                    </td>
                    <td class="pr-5 py-1">
                        {% if personnel.user %}
                            {{ get_date_fr(personnel.user.date_registered) }}
                        {% endif %}
                    </td>
                    <td class="pr-5 py-1">
                        {% if personnel.user %}
                            {{ personnel.user.id }}
                        {% endif %}
                    </td>
                    <td class="px-5 py-1 has-text-centered">
                        {% if personnel.user and personnel.user.projects %}
                        <span class="icon">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>TOTAL</th>
                <th class="pr-5">
                    {{ personnels|count }}
                </th>
                <th></th>
                <th></th>
                {% if not department %}
                <th></th>
                {% endif %}
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
{% endmacro %}
