{% macro form_notification() %}
<div class="notification-container">
    <div class="notification-overlay">
        {% if form.errors %}
        <div class="notification is-danger" onclick="this.parentElement.style.display='none';">
            <p class="px-5">Le formulaire est incomplet ou contient des erreurs.</p>
            <button class="delete"></button>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}


{% macro field_description(field) %}
{% if field.errors %}
<div class="tags has-addons">
    <span class="tag is-danger">Erreur !</span>
    <ul class="tag is-danger is-light">
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% else %}
    {% if field.description %}
    <p class="help is-italic">{{ field.description|safe }}</p>
    {% endif %}
{% endif %}
{% endmacro %}


{% macro render_krw_field(field) %}
<div class="field has-addons mb-0">
    <div class="control">
        {{ field(class_='input', type="text", inputmode="numeric", pattern="[0-9]*", size="5", **kwargs) }}
    </div>
    <div class="control">
        <a class="button is-static">KRW</a>
    </div>
</div>
{% endmacro %}


{% macro render_web_field(field) %}
<div class="field has-addons">
    <div class="control">
        <a class="button is-static">
        <p class="is-family-monospace">https://</p>
        </a>
    </div>
    <div class="control is-expanded">
        {{ field(class_="input" ~ is_danger) }}
    </div>
</div>
{% endmacro %}


{% macro render_divisions_field(field) %}
<table class="table divisions-table">
    <tbody>
        {% for level_name, subfields in choices["divisions"].items() %}
        <tr class="is-primary">
            <th><legend>{{ level_name }}</legend></th>
            <td>
                <fieldset>
                    <div class="field">
                        <div class="control">
                            <div class="checkboxes">
                            {% for subfield in subfields %}
                                <label class="checkbox">
                                    {{ subfield() }} 
                                    {{ subfield.label.text }}
                                </label>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}


{% macro help_modal(field_name) %}
{% if field_name in ["demo", "start_date", "members", "requirement", "students", "fieldtrip_ext_people", "markdown"] %}
<span class="icon-text">
<a type="button" class="js-modal-trigger" data-target="modal-form-help-{{ field_name }}">
    <span class="icon has-text-white">
    {% if field_name == "markdown" %}
        <i class="si markdown-mark"></i>
    {% else %}
        <i class="si fa--circle-info"></i>
    {% endif %}    
    </span>
</a>
</span>
{% endif %}
{% endmacro %}


{% macro optional(field) %}
{% if 'optional' in field.flags and field.name != "id" %}
<span class="is-size-7 px-2 has-text-weight-normal is-italic">optionnel</span>
{% endif %}
{% endmacro %}


{% macro render_field(field, render="", label=true) %}
{% set is_danger = " is-danger" if field.errors else "" %}
<div class="field pb-3">
    {% if label %}
        {% if field.type in ['RadioField', 'BooleanField', 'BulmaMultiCheckboxField'] %}
    <div class="label">
        {{ field.label.text }} {{ optional(field) }}{{ help_modal(field.name) }}
    </div>
        {% elif not field.name.startswith('budget_') %}
    <label class="label" for="{{field.name}}">
        {{ field.label.text }} {{ optional(field) }}{{ help_modal(field.name) }}
        {% if field.type == 'TextAreaField' %}{{ help_modal("markdown") }}{% endif %}
    </label>
        {% endif %}
    {% endif %}
    {% if field.name == 'divisions' %}
        {{ render_divisions_field(field) }}
    {% elif render == 'web' %}
        {{ render_website_field(field) }}
    {% elif render == "krw" %}
        {{ render_krw_field(field)}}
    {% elif field.type == 'SelectMultipleField' %}
    <div class="select is-multiple">
        {{ field(class_='select is-multiple is-size-6 p-1', size='10', **kwargs) }}
    </div>
    {% else %}
    <div class="control">
        {% if field.type == 'StringField' %}
            {{ field(class_="input" ~ is_danger, **kwargs) }}
        {% elif field.type == 'TextAreaField' %}
            {% set kwargs = { 'data-rows': '8' if field.name == "description" else '3' } %}
            {{ field(class_="textarea" ~ is_danger, rows=8 if field.name == "description" else 3, **kwargs) }}
        {% elif field.type == 'BulmaMultiCheckboxField' %}
            {{ field(class_="checkbox") }}
        {% elif field.type == 'RadioField' %}
            {% if render == "list" %}
                {{ field(class_="radio", **kwargs) }}
            {% else %}
                {% for subfield in field %}
                <label class="radio pr-3">
                    {{ subfield }} {{ subfield.label.text }}
                </label>
                {% endfor %}
            {% endif %}
        {% elif field.type == 'IntegerField' %}
            {{ field(class_="input" ~ is_danger, style="width: 5em", **kwargs) }}
        {% elif field.type in ['DateField', 'TimeField'] %}
            {{ field(class_="input" ~ is_danger, **kwargs) }}
        {% elif field.type == 'BooleanField' %}
        <label class="checkbox">
            {{ field(class_="checkbox", **kwargs) }} <span class="pl-1">{{ field.label.text }}</span>
        </label>
        {% elif field.type == 'SelectField' %}
            {% if field.name == 'priority' %}
            <div class="select">
                <select id="{{ field.name }}" name="{{ field.name }}" required class="select" ~ is_danger>
                    {% for optgroup, options in field.choices.items() %}
                        {% if loop.first and not field.data %}
                            <option value="" selected hidden>Choisir un axe et une priorité ...</option>
                        {% endif %}
                        <optgroup label="{{ optgroup }}">
                        {% for option in options %}
                            <option value="{{ option }}" {% if option == field.data %}selected{% endif %}>{{ option }}</option>
                        {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>
            {% else %}
                {{ field(class_="select is-size-6" ~ is_danger, **kwargs) }}
            {% endif %}
        {% elif field.type == 'PasswordField' %}
            {{ field(class_="input" ~ is_danger, type='password', **kwargs) }}
        {% else %}
        <div class="notification is-danger is-light">
            <p>Warning: Field not rendered with Bulma</p>
            {{ field(**kwargs) }}
        </div>
        {% endif %}
    </div>
    {% endif %}
    {{ field_description(field) }}
</div>
{% endmacro %}


{% macro render_budget_field(field, field_c, render="")%}
<div class="field pb-2">
    <div class="label">{{ field.label }} {{ optional(field) }}</div>
    <div class="columns budget-columns">
        <div class="column is-narrow budget-comment-column">
            <div class="control">
                {{ render_field(field, render) }}
            </div>
        </div>
        <div class="column budget-amount-column" {% if not field.data %}style="display:none"{% endif %}>
            <div class="control">
                {{ render_field(field_c) }}
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro render_form_fields(form) %}
{{ form.hidden_tag() }}
{%- for field in form %}
    {% if field.widget.input_type != 'hidden' and field.type != 'SubmitField' -%}
        {{ render_field(field) }}
    {% endif %}
{% endfor %}
{% endmacro %}


{% macro render_form_fields2(form) %}

{{ form.hidden_tag() }}

<div class="block">
    <p>Tous les champs sont obligatoires, sauf ceux indiqués <span class="is-italic">"optionnel"</span>. Cliquer sur l'icône{{ help_modal("demo") }}pour plus d'information sur un champ.</p>
    <p>Vous pouvez indiquer toutes les informations qui n'ont pas de champ spécifique dans la partie <strong>Description du projet.</strong></p>
    <p>Les champs avec l'icône{{ help_modal("markdown") }}supportent une mis en page au format <strong>Markdown</strong>.</p>
</div>

{% if form.id.data %}
    {{ render_field(form.id) }}
{% endif %}

{{ render_field(form.school_year) }}

<div class="columns is-multiline is-8">
    <div class="column is-narrow">
        <div class="columns is-multiline is-3">
            <div class="column is-narrow">
                {{ render_field(form.start_date) }}
            </div>
            <div class="column is-narrow">
                {{ render_field(form.start_time) }}
            </div>
        </div>
    </div>
    <div class="column is-narrow">
        <div class="columns is-multiline is-3">
            <div class="column is-narrow">
                {{ render_field(form.end_date) }}
            </div>
            <div class="column is-narrow">
                {{ render_field(form.end_time) }}
            </div>
        </div>
    </div>
</div>

{{ render_field(form.title) }}

{{ render_field(form.objectives) }}
{{ render_field(form.description) }}
{{ render_field(form.indicators) }}
{{ render_field(form.members) }}
{{ render_field(form.priority) }}
{{ render_field(form.paths) }}
{{ render_field(form.skills) }}
{{ render_field(form.mode) }}
{{ render_field(form.divisions) }}
{{ render_field(form.requirement) }}

<div id="students-list" {% if form.requirement.data != "no" %}style="display: none;"{% endif %}>
    {{ render_field(form.students) }}
</div>

{{ render_field(form.nb_students, render="auto") }}
{{ render_field(form.location) }}

{% if form.location.data in ["outer", "trip"] %}
<div id="fieldtrip">
{% else %}
<div id="fieldtrip" style="display:none">
{% endif %}
    {{ render_field(form.fieldtrip_address) }}
    {{ render_field(form.fieldtrip_ext_people) }}
    {{ render_field(form.fieldtrip_impact) }}
</div>

<div id="link-fields" class="mb-5">
    <div class="columns is-mobile mb-0">
        <div class="column is-narrow">
            {{ render_field(form.link_t_1) }}
        </div>
        <div class="column">
            {{ render_field(form.link_1) }}
        </div>
    </div>
    <div class="columns is-mobile mb-0 {% if not form.link_2.data %} is-hidden {% endif %}">
        <div class="column is-narrow">
            {{ render_field(form.link_t_2) }}
        </div>
        <div class="column">
            {{ render_field(form.link_2) }}
        </div>
    </div>
    <div class="columns is-mobile mb-0 {% if not form.link_3.data %} is-hidden {% endif %}">
        <div class="column is-narrow">
            {{ render_field(form.link_t_3) }}
        </div>
        <div class="column">
            {{ render_field(form.link_3) }}
        </div>
    </div>
    <div class="columns is-mobile mb-0 {% if not form.link_4.data %} is-hidden {% endif %}">
        <div class="column is-narrow">
            {{ render_field(form.link_t_4) }}
        </div>
        <div class="column">
            {{ render_field(form.link_4) }}
        </div>
    </div>
    <div id="add-link-button">
        <button type="button" class="button is-small is-link is-rounded" onclick="addLinkField()">Ajouter un lien</button>
    </div>
</div>

{{ render_field(form.budget) }}

<div id="budget_details" class="pb-5" {% if not has_budget and form.budget.data != "Oui" %}style="display: none;"{% endif %}>
    <p class="pb-3">
        Ce document ne remplace pas la demande 
        <a href="{{ BOOMERANG_WEBSITE }}" target="_blank">
            <span>Boomerang</span>
            <span class="icon is-size-7">
                <i class="si fa--arrow-up-right-from-square" aria-hidden="true"></i>
            </span>
        </a>. 
        Les champs de justification du budget supportent la mise en page <strong>Markdown</strong>{{ help_modal("markdown") }}.
    </p>
    
    <div class="columns">
        <div class="column">
            <div class="columns is-8">
                <div id="budget-year-1" class="column" style="display: none;">
                    <div id="budget-label-1" class="label pb-0">
                        Budget estimé
                    </div>
                    {{ render_budget_field(form.budget_hse_1, form.budget_hse_c_1) }}
                    {{ render_budget_field(form.budget_exp_1, form.budget_exp_c_1, "krw") }}
                    {{ render_budget_field(form.budget_trip_1, form.budget_trip_c_1, "krw") }}
                    {{ render_budget_field(form.budget_int_1, form.budget_int_c_1, "krw") }}
                </div>
                <div id="budget-year-2" class="column" style="display: none;">
                    <div id="budget-label-2" class="label pb-0">
                        Budget estimé
                    </div>
                    {{ render_budget_field(form.budget_hse_2, form.budget_hse_c_2) }}
                    {{ render_budget_field(form.budget_exp_2, form.budget_exp_c_2, "krw") }}
                    {{ render_budget_field(form.budget_trip_2, form.budget_trip_c_2, "krw") }}
                    {{ render_budget_field(form.budget_int_2, form.budget_int_c_2, "krw") }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ render_field(form.is_recurring) }}
{{ render_field(form.status) }}

{% endmacro %}


{% macro render_form_buttons(form, cancel, v=1) %}
<div class="buttons is-right">
    <div class="control is-expanded" {% if v == 2 %}data-button-title="Annuler les modifications en cours. Le projet existant n'est pas modifié"{% endif %}>
        <button type="button" class="button is-link is-light click-once" onclick="window.location.href='{{ cancel }}';">Annuler</button>
    </div>
    <div class="control" {% if v == 2 %}data-button-title="Enregistrer les modifications et, le cas échéant, faire une demande d'accord ou de validation"{% endif %}>
        <button type="submit" class="button is-link submit-once">{{ form.submit.label.text }}</button>
    </div>
</div>
{% endmacro %}


{% macro render_form(form, action, cancel, v=1) %}
<form action="{{ action }}" method="POST">
    {% if v == 1  %}
        {{ render_form_fields(form) }}
    {% else %}
        {{ render_form_fields2(form) }}
    {% endif %}
    {{ render_form_buttons(form, cancel, v) }}
</form>
{% endmacro %}
