{% macro form_help_modals() %}
{# help demo #}
<div id="modal-form-help-demo" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">Aide fiche projet</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Bien démarrer</h3>
                <strong>Bravo !</strong> Vous avez réussi à trouver de l'aide.
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button">Fermer</button>
        </footer>
    </div>
</div>


{# start_date field #}
<div id="modal-form-help-start_date" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">Aide fiche projet</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Date et heure</h3>
                <ul>
                    <li>Indiquer la date à laquelle se déroule le projet.</li>
                    <li>Pour un projet se déroulant sur une période, indiquer les dates de début et de fin du projet.</li>
                    <li>Il est nécessaire d'indiquer <strong>l'heure de début et l'heure de fin</strong> pour une <strong>sortie scolaire</strong> ou un projet pouvant impacter les autres cours de l'emploi du temps habituel des élèves.</li>
                    <li>Pour un projet se déroulant sur plus d'une année scolaire, créer une fiche projet par année scolaire. On pourra utiliser le bouton <button class="button is-small is-primary"><span class="icon"><i class="si mdi--content-duplicate" aria-hidden="true"></i></span><span>Dupliquer</span></button>.</li>
                    <li>Un projet récurrent sera dupliqué chaque année.</li>
                </ul>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button">Fermer</button>
        </footer>
    </div>
</div>


{# members field #}
<div id="modal-form-help-members" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">Aide fiche projet</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Équipe pédagogique</h3>
                <p>Sélectionner les membres de l'équipe pédagogique participant au projet.</p>
                <ul>
                    <li>Pour une <strong>sortie scolaire</strong>, sélectionner aussi les <strong>accompagnateurs</strong> de la sortie. Les stagiaires seront indiqués dans le champ <strong>Encadrement (stagiaires et personnes extérieures au LFS)</strong>.</li>
                    <li> Pour <strong>sélectionner plusieurs personnes</strong>, appuyer sur la touche <button class="button is-small is-link-light is-family-code">Ctrl</button> ou <button class="button is-small is-link-light is-family-code"><span class="icon"><i class="si mdi--apple-cmd-key"></i></span><span>Cmd</span></button> sur macOS et cliquer sur le nom de la personne (faire défiler la liste si nécessaire). Répéter cette opération autant de fois que nécessaire.</li>
                    <li> Pour <strong>sélectionner une plage de noms</strong>, cliquer sur le premier nom de la sélection, puis appuyer sur la touche <button class="button is-small is-link-light is-family-code"><span class="icon"><i class="si mdi--apple-shift-key"></i></span><span>Shift</span></button> et cliquer sur le dernier nom de la sélection (faire défiler la liste si nécessaire).</li>
                </ul>
                <p>La fiche projet ne permet pas d'associer un rôle aux membres de l'équipe. Vous pouvez cependant, si vous le souhaitez, décrire le rôle de chacun dans la partie <strong>Description du projet</strong>.</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button">Fermer</button>
        </footer>
    </div>
</div>


{# students field #}
<div id="modal-form-help-students" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">Aide fiche projet</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Liste des élèves</h3>
                <p>Si la participation au projet est optionnelle, préciser la liste des élèves <strong>avant la demande validation</strong>.</p>
                <p>Indiquer <strong>un élève par ligne</strong> avec la <strong>classe</strong>, le <strong>nom</strong> et le <strong>prénom</strong> séparés par une <strong>virgule</strong>, <strong>deux espaces</strong> ou une <strong>tabulation</strong>. La classe doit être indiquée dans la première colonne. La classe peut être omise si une seule classe est concernée.</p>
                <p>Il est possible de copier / coller la liste depuis votre tableur préféré (Google Sheets, LibreOffice Calc, MS Excel, etc.). <br> Si vous copiez la liste depuis Pronote, vous devez ajouter une virgule ou au moins deux espaces entre le nom et le prénom (en effet, Pronote met le nom et le prénom dans la même colonne).</p>
                <p>Le format accepté pour les classes (avec ou sans espace avant le nom ou le numéro de la classe, avec ou sans majuscules) : </p>
                <p><kbd>Terminale, Tale, Tle, 1ère, 1ere, 1re, 1e, 2e, 2de, 2nde, 3ème, 3eme, 3e, cm2, cp, gs/ms</kbd>.</p>
                <h5>Exemples :</h5>
                <div class="field">
                    <div class="control has-icons-right">
                        <input class="input is-small is-focused is-success" name="success" value="6eA  Benoît  Mandelbrot" readonly>
                        <span class="icon has-text-success is-right"><i class="si fa--check"></i></span>
                    </div>
                    <p class="help is-success">Une tabulation entre chaque colonne, comme lorsqu'on importe la liste d'un tableur</p>
                </div>
                <div class="field">
                    <div class="control has-icons-right">
                        <input class="input is-focused is-success is-small" name="success" value="2de A, Marie Madeleine, Lafayette" readonly>
                        <span class="icon has-text-success is-right"><i class="si fa--check"></i></span>
                    </div>
                    <p class="help is-success">Une virgule entre chaque colonne</p>
                </div>
                <div class="field">
                    <div class="control has-icons-right">
                        <input class="input is-focused is-success is-small" name="success" value="1ère A, Johann Carl Friedrich    Gauß" readonly>
                        <span class="icon has-text-success is-right"><i class="si fa--check"></i></span>
                    </div>
                    <p class="help is-success">Une virgule ou une tabulation entre chaque colonne</p>
                </div>
                <div class="field">
                    <div class="control has-icons-right">
                        <input class="input is-focused is-success is-small" name="success" value="CE1 B  Louis  De Broglie" readonly>
                        <span class="icon has-text-success is-right"><i class="si fa--check"></i></span>
                    </div>
                    <p class="help is-success">Deux espaces entre chaque colonne</p>
                </div>
                <div class="field">
                    <div class="control has-icons-right">
                        <input class="input is-focused is-danger is-small" name="danger" value="Terminale Pierre Henry Martin" readonly>
                        <span class="icon has-text-danger is-right"><i class="si fa--warning"></i></span>
                    </div>
                    <p class="help is-danger">Une seul espace entre les colonnes</p>
                </div>
                <div class="field">
                    <div class="control has-icons-right">
                        <input class="input is-focused is-danger is-small" name="danger" value="2deC  Ada  Lovelace" readonly>
                        <span class="icon has-text-danger is-right"><i class="si fa--warning"></i></span>
                    </div>
                    <p class="help is-danger">La 2de C n'existe pas au LFS !</p>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button">Fermer</button>
        </footer>
    </div>
</div>


{# fieldtrip_ext_people field #}
<div id="modal-form-help-fieldtrip_ext_people" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">Aide fiche projet</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Encadrement (stagiaires et extérieurs au LFS)</h3>
                <p>Indiquer le nom et prénom :</p>
                <ul>
                    <li>
                        des <strong>stagiaires</strong> au LFS ;
                    </li>
                    <li>
                        des personnes <strong>extérieures</strong> au LFS (parents, personnel d'une agence de voyage, etc.) ;
                    </li>
                </ul>
                <p>participants à l'encadrment de la sortie.</p>
                <p>Séparer chaque personne par une virgule.</p>
                <p>Pour les stagiaires du LFS, indiquer <kbd>(stagiaire)</kbd> après le nom.</p>
                <h5>Exemple :</h5>
                <div class="field">
                    <div class="control has-icons-right">
                        <input class="input is-focused is-success is-small" name="success" value="Sophie Martin, Pierre Dupont (stagiaire)" readonly>
                        <span class="icon has-text-success is-right"><i class="si fa--check"></i></span>
                    </div>
                    <p class="help is-success">Le parent Sophie Martin et le stagiaire du LFS Pierre Dupont encadrent la sortie.</p>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button">Fermer</button>
        </footer>
    </div>
</div>
{% endmacro %}