{% macro form_help_modals() %}
{# help demo #}
<div id="modal-form-help-demo" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">Aide fiche projet</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Bien démarrer</h3>
                <strong>Bravo !</strong> Vous avez réussi à trouver de l'aide.
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button">Fermer</button>
        </footer>
    </div>
</div>


{# start_date field #}
<div id="modal-form-help-start_date" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">Aide fiche projet</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Date et heure</h3>
                <ul>
                    <li>Indiquer la date à laquelle se déroule le projet.</li>
                    <li>Pour un projet se déroulant sur une période, indiquer les dates de début et de fin du projet.</li>
                    <li>Il est nécessaire d'indiquer <strong>l'heure de début et l'heure de fin</strong> pour une <strong>sortie scolaire</strong>, un <strong>voyage scolaire</strong> ou un <strong>projet impactant les autres cours</strong> de l'emploi du temps habituel des élèves.</li>
                    <li>Une <strong>sortie scolaire</strong> se déroule sur une journée. Un <strong>voyage scolaire</strong> se déroule sur plus d'une journée.</li>
                    <li>Pour un projet se déroulant sur plus d'une année scolaire, créer une fiche projet par année scolaire. On pourra utiliser le bouton <button class="button is-small is-primary"><span class="icon"><i class="si mdi--content-duplicate" aria-hidden="true"></i></span><span>Dupliquer</span></button>.</li>
                    <li>Pour un projet récurrent, un nouveau projet sera créé chaque année. On pourra utiliser le bouton <button class="button is-small is-primary"><span class="icon"><i class="si mdi--content-duplicate" aria-hidden="true"></i></span><span>Dupliquer</span></button>.</li>
                </ul>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button">Fermer</button>
        </footer>
    </div>
</div>


{# members field #}
<div id="modal-form-help-members" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">Aide fiche projet</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Équipe pédagogique</h3>
                <p>Sélectionner les membres de l'équipe pédagogique participant au projet.</p>
                <ul>
                    <li>Pour une <strong>sortie scolaire</strong>, sélectionner aussi les <strong>accompagnateurs</strong> de la sortie. Les stagiaires seront indiqués dans le champ <strong>Encadrement complémentaire (stagiaires et personnes extérieures au LFS)</strong>.</li>
                    <li> Pour <strong>sélectionner plusieurs personnes</strong>, appuyer sur la touche <button class="button is-small is-link-light is-family-code">Ctrl</button> ou <button class="button is-small is-link-light is-family-code"><span class="icon"><i class="si mdi--apple-cmd-key"></i></span><span>Cmd</span></button> sur macOS et cliquer sur le nom des personnes à inclure (faire défiler la liste si nécessaire).</li>
                    <li> Pour <strong>sélectionner une plage de noms consécutifs</strong>, cliquer sur le premier nom de la sélection, puis appuyer sur la touche <button class="button is-small is-link-light is-family-code"><span class="icon"><i class="si mdi--apple-shift-key"></i></span><span>Shift</span></button> et cliquer sur le dernier nom de la sélection (faire défiler la liste si nécessaire).</li>
                </ul>
                <p>La fiche projet ne permet pas d'associer un rôle aux membres de l'équipe. Vous pouvez cependant décrire le rôle de chacun dans la partie <strong>Description du projet</strong>.</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button">Fermer</button>
        </footer>
    </div>
</div>


{# requirement field #}
<div id="modal-form-help-requirement" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">Aide fiche projet</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Participation</h3>
                <p>Sélectionner une option concernant la participation des élèves au projet :</p>
                <ul>
                    <li>
                        <strong>Toute la classe :</strong> cela signifie que tous les élèves de la classe participent au projet.
                    </li>
                    <li>
                        <strong>Optionnelle :</strong> seuls les élèves qui le souhaitent ou qui sont sélectionnés participent.
                    </li>
                    <li>
                        <strong>Libre :</strong> cette option n'est à utiliser que dans les cas où la participation est ouverte à tous, sans inscription, et lorsque la participation <strong>n'impacte pas l'emploi du temps habituel des élèves</strong>, ni <strong>les AES</strong>. La participation peut éventuellement être ouverte à des personnes extérieures au LFS.
                    </li>
                </ul>
                <p>Lorsque la participation est <strong>"Optionnelle"</strong>, veuillez fournir <strong>la liste des élèves</strong> concernés. Cela est nécessaire pour organiser les déplacements et les aménagements éventuels des emplois du temps et des AES.</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button">Fermer</button>
        </footer>
    </div>
</div>


{# students field #}
<div id="modal-form-help-students" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">Aide fiche projet</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Liste des élèves</h3>
                <p>Si la participation au projet est optionnelle, préciser la liste des élèves <strong>avant la demande validation</strong>.</p>
                <p>Indiquer <strong>un élève par ligne</strong> avec la <strong>classe</strong>, le <strong>nom</strong> et le <strong>prénom</strong> séparés par une <strong>virgule</strong>, <strong>deux espaces</strong> ou une <strong>tabulation</strong>. La classe doit être indiquée dans la première colonne. La classe peut être omise si une seule classe est concernée.</p>
                <p>Il est possible de copier / coller la liste depuis votre tableur préféré (Google Sheets, LibreOffice Calc, MS Excel, etc.). <br> Si vous copiez la liste depuis Pronote, vous devez ajouter une virgule ou au moins deux espaces entre le nom et le prénom (en effet, Pronote met le nom et le prénom dans la même colonne).</p>
                <p>Le format accepté pour les classes (avec ou sans majuscules, avec ou sans espace avant la lettre de la classe) : </p>
                <ul>
                    <li><kbd>Terminale, Tale, Tle, Te, T, 0.</kbd></li>
                    <li><kbd>Première, 1ère, 1ere, 1re, 1e, 1.</kbd></li>
                    <li><kbd>Seconde, 2nde, 2de, 2e, 2.</kbd></li>
                    <li><kbd>3ème, 3eme, 3e, 3 (<kbd>idem pour</kbd> 4e, 5e et 6e).</kbd></li>
                    <li><kbd>CM2 (<kbd>idem pour</kbd> CM1, CE2, CE1, CP, GS, MS, PS).</kbd></li>
                    <li><kbd>MS/GS, MSGS (<kbd>idem pour</kbd> PS/MS).</kbd></li>
                </ul>
                <h5>Exemples :</h5>
                <div class="field">
                    <div class="control has-icons-right">
                        <input class="input is-small is-focused is-success" name="success" value="6eA  Mandelbrot  Benoît" readonly>
                        <span class="icon has-text-success is-right"><i class="si fa--check"></i></span>
                    </div>
                    <p class="help is-success">Une tabulation entre chaque colonne, comme lorsqu'on importe la liste d'un tableur</p>
                </div>
                <div class="field">
                    <div class="control has-icons-right">
                        <input class="input is-focused is-success is-small" name="success" value="2de A, Lafayette, Marie Madeleine" readonly>
                        <span class="icon has-text-success is-right"><i class="si fa--check"></i></span>
                    </div>
                    <p class="help is-success">Une virgule entre chaque colonne</p>
                </div>
                <div class="field">
                    <div class="control has-icons-right">
                        <input class="input is-focused is-success is-small" name="success" value="1ère A    Gauß, Johann Carl Friedrich" readonly>
                        <span class="icon has-text-success is-right"><i class="si fa--check"></i></span>
                    </div>
                    <p class="help is-success">Une virgule ou une tabulation entre chaque colonne</p>
                </div>
                <div class="field">
                    <div class="control has-icons-right">
                        <input class="input is-focused is-success is-small" name="success" value="CE1 B  De Broglie  Louis" readonly>
                        <span class="icon has-text-success is-right"><i class="si fa--check"></i></span>
                    </div>
                    <p class="help is-success">Deux espaces entre chaque colonne Classe, Nom, Prénom</p>
                </div>
                <div class="field">
                    <div class="control has-icons-right">
                        <input class="input is-focused is-danger is-small" name="danger" value="Terminale Martin Pierre Henry" readonly>
                        <span class="icon has-text-danger is-right"><i class="si fa--warning"></i></span>
                    </div>
                    <p class="help is-danger">Un seul espace entre les colonnes Classe, Nom, Prénom</p>
                </div>
                <div class="field">
                    <div class="control has-icons-right">
                        <input class="input is-focused is-danger is-small" name="danger" value="CM2 Albert Durand  CM1 Stéphanie Dupont" readonly>
                        <span class="icon has-text-danger is-right"><i class="si fa--warning"></i></span>
                    </div>
                    <p class="help is-danger">Deux élèves sur une même ligne</p>
                </div>
                <div class="field">
                    <div class="control has-icons-right">
                        <input class="input is-focused is-danger is-small" name="danger" value="2de C  Ada  Lovelace" readonly>
                        <span class="icon has-text-danger is-right"><i class="si fa--warning"></i></span>
                    </div>
                    <p class="help is-danger">La 2de C n'existe pas au LFS !</p>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button">Fermer</button>
        </footer>
    </div>
</div>


{# fieldtrip_ext_people field #}
<div id="modal-form-help-fieldtrip_ext_people" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">Aide fiche projet</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Encadrement complémentaire</h3>
                <p>Indiquer le nom et prénom des accompagnateurs <strong>complémentaires</strong> à l'équie pédagogique :</p>
                <ul>
                    <li>
                        <strong>stagiaires</strong> au LFS ;
                    </li>
                    <li>
                        personnes <strong>extérieures</strong> au LFS (parents, personnel d'une agence de voyage, etc.) ;
                    </li>
                </ul>
                <p>Séparer chaque personne par une virgule.<br>
                Pour les stagiaires du LFS, indiquer <kbd>(stagiaire)</kbd> après le nom.</p>
                <h5>Exemple :</h5>
                <div class="field pb-4">
                    <div class="control has-icons-right">
                        <input class="input is-focused is-success is-small" name="success" value="Sophie Martin, Pierre Dupont (stagiaire)" readonly>
                        <span class="icon has-text-success is-right"><i class="si fa--check"></i></span>
                    </div>
                    <p class="help is-success">Le parent Sophie Martin et le stagiaire du LFS Pierre Dupont accompagnent la sortie.</p>
                </div>
                <p><strong>L'équipe pédagogique</strong> fait automatiquement partie de l'accompagnament de la sortie ou du voyage.</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button">Fermer</button>
        </footer>
    </div>
</div>


{# Markdown help modal #}
<div id="modal-form-help-markdown" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">Aide fiche projet</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Mise en page avec <strong>Markdown</strong> <span class="icon"><i class="si sic markdown-mark" aria-hidden="true"></i></span></h3>
                <p><strong>Markdown</strong> est un langage de mise en page (ou balisage) simple qui permet de créer du texte formaté, comme des titres, des listes ou des liens, du texte en gras ou en italique, de manière simple et intuitive, sans avoir besoin de connaissances en programmation. Il est souvent utilisé pour rédiger des documents, des articles ou des notes qui nécessitent une mise en forme claire et lisible.</p>
                <p>Cette aide présente les principales balises de mise de page.</p>
                <p>Pour plus d'informations sur le langage <strong>Markdown</strong>, vous pouvez consulter ce <a href="https://www.markdownguide.org/" target="_blank">guide<i class="si fa--arrow-up-right-from-square is-size-7 ml-1"></i></a> plus détaillé.</p>
                <hr>
                <div class="columns">
                    <div class="column">
                        <table class="table is-narrow is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Style</th>
                                    <th>Markdown</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Gras</strong></td>
                                    <td><code>**texte**</code></td>
                                </tr>
                                <tr>
                                    <td><em>Italique</em></td>
                                    <td><code>*texte*</code></td>
                                </tr>
                                <tr>
                                    <td><del>Barré</del></td>
                                    <td><code>~~texte~~</code></td>
                                </tr>
                                <tr>
                                    <td><code>Code</code></td>
                                    <td><code>`code`</code></td>
                                </tr>
                                <tr>
                                    <td>Emoji</td>
                                    <td>🛠️📊💡➡️📅🚀📈✨</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="column">
                        <table class="table is-narrow is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Struture</th>
                                    <th>Markdown</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Titre ou section</td>
                                    <td><code># Titre</code></td>
                                </tr>
                                <tr>
                                    <td>Sous-titre</td>
                                    <td><code>## Titre</code></td>
                                </tr>
                                <tr>
                                    <td>Liste à puces</td>
                                    <td><code>* Élément</code></td>
                                </tr>
                                <tr>
                                    <td>Liste numérotée</td>
                                    <td><code>1. Élément</code></td>
                                </tr>
                                <tr>
                                    <td>Hyperlien</td>
                                    <td><code>[Nom](url)</code></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr>

                <div class="columns">
                    <div class="column">
                        <p class="is-size-6"><strong>Hyperliens</strong></p>
                        <p>Voici un <a href="https://fr.wikipedia.org/wiki/Markdown" target="_blank">lien<i class="si fa--arrow-up-right-from-square is-size-7 ml-1"></i></a>.</p>
                    </div>
                    <div class="column">
                        <p class="is-size-6"><strong>Markdown</strong></p>
                        <code>Voici un [lien](https://fr.wikipedia.org/wiki/Markdown).</code>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <p>Voici un <a href="https://fr.wikipedia.org/wiki/Markdown" target="_blank" title="Page Wikipédia de Markdown">lien<i class="si fa--arrow-up-right-from-square is-size-7 ml-1"></i></a> avec titre.</p>
                    </div>
                    <div class="column">
                        <code>Voici un [lien](https://fr.wikipedia.org/wiki/Markdown "Page Wikipédia de Markdown") avec titre.</code>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <p>Note de bas de page<sup id="fnref:1"><a class="footnote-ref" href="#fn:1">1</a></sup>.</p>
                        <div class="footnote">
                            <hr>
                            <ol>
                                <li id="fn:1">
                                <p>Ceci est la note.&nbsp;<a class="footnote-backref" href="#fnref:1" title="Jump back to footnote 1 in the text">↩</a></p>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="column">
                        <p><code>Note de bas de page[^1].</code></p>
                        <br>
                        <p><code>[^1]: Ceci est la note.</code></p>
                    </div>
                </div>

                <hr>

                <div class="columns">
                    <div class="column">
                        <p class="is-size-6"><strong>Citations</strong></p>
                        <blockquote>Ceci est une citation sur plusieurs lignes.</blockquote>
                    </div>
                    <div class="column">
                        <p class="is-size-6"><strong>Markdown</strong></p>
                        <pre class="p-2">> Ceci est une citation<br>> sur plusieurs lignes.</pre>
                    </div>
                </div>

                <hr>

                <div class="columns">
                    <div class="column">
                        <p class="is-size-6"><strong>Listes multi-niveaux</strong></p>
                        <ul class="mt-0">
                            <li>Fruit
                                <ul>
                                    <li>Pomme</li>
                                    <li>Banane</li>
                                </ul>
                            </li>
                            <li>Légume</li>
                        </ul>
                    </div>
                    <div class="column">
                        <p class="is-size-6"><strong>Markdown</strong></p>
                        <pre class="p-1 mb-0">* Fruit<br>  * Pomme<br>  * Banane<br>* Légume</pre>
                        <p class="is-size-7 is-italic mt-1">Note : Ajouter 2 espaces avant l'astérisque du 2ème niveau.</p>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <ol class="mt-0">
                            <li>Étape principale
                                <ol>
                                    <li>Sous-étape A</li>
                                    <li>Sous-étape B</li>
                                </ol>
                            </li>
                            <li>Étape suivante</li>
                        </ol>
                    </div>
                    <div class="column">
                        <pre class="p-1 mb-0">1. Étape principale<br>   1. Sous-étape A<br>   2. Sous-étape B<br>2. Étape suivante</pre>
                    </div>
                </div>

                <hr>

                <div class="columns">
                    <div class="column">
                        <p class="is-size-6"><strong>Tableaux</strong></p>
                        <table class="table is-striped is-hoverable">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th class="has-text-right">Qté</th>
                                    <th class="has-text-centered">Couleur</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ordinateur</td>
                                    <td class="has-text-right">5</td>
                                    <td class="has-text-centered">Métal</td>
                                </tr>
                                <tr>
                                    <td>Souris</td>
                                    <td class="has-text-right">12</td>
                                    <td class="has-text-centered">Blanc</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="column">
                        <p class="is-size-6"><strong>Markdown</strong></p>
                        <pre class="p-2">| Produit | Qté | Couleur |<br>| :--- | ---: | :---: |<br>| Ordinateur | 5 | Métal |<br>| Souris | 12 | Blanc |</pre>
                    </div>
                </div>

                <article class="message is-info is-small mt-2">
                    <div class="message-body">
                        <strong>Conseil :</strong> Laisser toujours une ligne vide avant et après un tableau ou une liste pour un rendu parfait.
                    </div>
                </article>

                <hr>

                <div class="columns">
                    <div class="column">
                        <p class="is-size-6"><strong>Bloc de Code</strong></p>
                        <pre class="has-background-grey has-text-light p-2"><code>def salut(nom):<br>&nbsp;&nbsp;&nbsp;&nbsp;print(f"Salut {nom} !")</code></pre>
                    </div>
                    <div class="column">
                        <p class="is-size-6"><strong>Markdown</strong></p>
                        <pre class="p-2">```python<br>def salut(nom):<br>    print(f"Salut {nom} !")<br>```</pre>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button">Fermer</button>
        </footer>
    </div>
</div>
{% endmacro %}