{% from "_projects_helpers.html" import project_icons, project_icon_tooltip with context %}

{% macro notification() %}
<div class="notification-container">
    <div class="notification-overlay">
        <ul>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="{{ 'fadeOut' if category in ['info'] else '' }}">
                <li class="notification {% if category == 'info' %} is-success {% elif category == 'warning' %} is-warning {% else %} is-danger {% endif %} mb-3" onclick="this.parentElement.style.display='none';">
                    <button class="delete"></button>
                    
                    <article class="media is-align-items-center">
                        <div class="media-left">
                            <figure class="image is-24x24 is-flex is-align-items-center is-justify-content-center">
                                {% if category == 'info' %}
                                <span class="si si-24px mdi--success-circle-outline has-text-primary-20" aria-hidden="true"></span>
                                {% elif category == 'warning' %}
                                <span class="si si-24px mdi--warning-circle-outline has-text-danger has-text-weight-bold" aria-hidden="true"></span>
                                {% else %}
                                <span class="si si-24px mdi--warning-outline has-text-weight-bold" aria-hidden="true"></span>
                                {% endif %}
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content pr-5">
                                <p class="mb-0">{{ message | safe }}</p>
                            </div>
                        </div>
                    </article>
                    
                </li>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        </ul>
    </div>
</div>
{% endmacro %}


{% macro db_state_button(lock) %}
{% if not lock %}
<button type="submit" name="submit" class="button is-success">
    <span class="icon is-msall">
        <i class="si mdi--lock-open-variant-outline" aria-hidden="true"></i>
    </span>
    <span class="has-text-weight-medium">Ouverte</span>
</button>
{% else %}
<button type="submit" name="submit" class="button {{ 'is-warning' if lock == 1 else 'is-danger'}}">
    <span class="icon is-small">
        <i class="si {{ 'mdi--lock' if lock == 1 else 'tabler--lock-cog' }}" aria-hidden="true"></i>
    </span>
    <span class="has-text-weight-medium">Fermée</span>
</button>
{% endif %}
{% endmacro %}


{% macro project_pivot_table() %}
<table class="table is-striped is-hoverable">
    <thead>
        <tr>
            <th>Année scolaire | Statut</th>
            {% for col in df.columns %}
            {% if not loop.last %}
            <th class="" data-title="{{ project_icon_tooltip(col) }}">{{ project_icons(col) }}</th>
            {% else %}
            <th class="">{{ col }}</th>
            {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for year, row in df.iterrows() %}
    {% if not loop.last %}
        <tr>
            <th>{{ year }}</th>
            {% for col in df.columns %}
            {% if loop.last %}
            <th class="has-text-right">{{ row[col] }}</th>
            {% else %}
            <td class="has-text-right">{{ row[col] if row[col] > 0 else "" }}</td>
            {% endif %}
            {% endfor %}
        </tr>
    {% else %}
    </tbody>
    <tfoot>
        <tr>
            <th>{{ year }}</th>
            {% for col in df.columns %}
            <th class="has-text-right">{{ row[col] }}</th>
            {% endfor %}
        </tr>
    </tfoot>
    {% endif %}
    {% endfor %}
</table>
{% endmacro %}


{% macro division_table(division_data) %}
<table class="table is-hoverable">
    <tbody>
    {% for section, levels in division_data.items() %}
        <tr>
            <th>{{ section }}</th>
            {% if section == "Total"  %}
            <td>{{ levels }}</td>
            {% else %}
            <td>
                <div class="field is-grouped is-grouped-multiline">
                {% for level, count in levels.items() %}
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag">{{ count }}</span>
                            <span class="tag is-info">{{ level }}</span>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}