{% macro db_state(lock) %}
<p class="pb-3">La base est</p>
    {% if not lock %}
    <p class="button is-success">
        <span class="icon is-msall">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        </span>
        <span class="has-text-weight-medium">Ouverte</span>
    </p>
    {% else %}
    <p class="button is-danger">
        <span class="icon is-small">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
        <span class="has-text-weight-medium">Fermée</span>
    </p>
    {% endif %}
{% endmacro %}


{% macro utilisateur() %}
<span id="user-name">{{ get_name(current_user.p.id) }}</span>
{% if current_user.p.role != "user" %}
    ({{ current_user.p.role }})
{% endif %}
{% endmacro %}


{% macro notification() %}
<div class="notification-container">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="notification-overlay">
        <ul>
            {% for category, message in messages %}
            <div class="{{ 'fadeOut' if category == 'info' else '' }}">
                <li class="notification {% if category == 'danger' %} {{ 'is-danger' }} {% elif category == 'warning' %} {{ 'is-warning' }} {% else %} {{ 'is-success' }} {% endif %} mb-3" onclick="this.parentElement.style.display='none';">
                <p class="pr-5">{{ message }}</p><button class="delete"></button></li>
            </div>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endwith %}
</div>
{% endmacro %}