{# to render projects #}

{% macro project_tooltip(project, has_budget) %}
{%- if project.status == "draft" -%}
    En construction
{%- elif project.status == "ready-1" -%}
    {%- if has_budget -%}
    Projet et budget en attente d'accord depuis {{ get_date_fr(project.modified_at) }}
    {%- else -%}
        Projet en attente d'accord depuis {{ get_date_fr(project.modified_at) }}
    {%- endif -%}
{%- elif project.status == "ready" -%}
    En attente de validation depuis {{ get_date_fr(project.modified_at) }}
{%- elif project.status == "validated-1" -%}
    {%- if project.has_budget -%}
        Budget approuvé {{ get_date_fr(project.validated_at) }}
    {%- else -%}
        Approuvé {{ get_date_fr(project.validated_at) }}
    {%- endif -%}
{%- elif project.status == "validated-10" -%}
    Dévalidé {{ get_date_fr(project.validated_at) }}
{%- elif project.status == "validated" -%}
    Validé {{ get_date_fr(project.validated_at) }}
{%- elif project.status == "rejected" -%}
    Non retenu {{ get_date_fr(project.validated_at) }}
{% else %}
    Statut inconnu
{%- endif -%}
{% endmacro %}


{% macro project_icon_tooltip(status) %}
{%- if status == "draft" -%}
    Projet en construction
{%- elif status == "ready-1" -%}
    Projet et budget en attente d'accord
{%- elif status == "ready" -%}
    Projet en attente de validation
{%- elif status == "validated-1" -%}
    Projet et budget approuvé
{%- elif status == "validated-10" -%}
    Projet dévalidé
{%- elif status == "validated" -%}
    Projet validé
{%- elif status == "rejected" -%}
    Projet non retenu
{% else %}
    Statut inconnu
{%- endif -%}
{% endmacro %}


{% macro comments_icon(project_id) %}
{% if current_user.new_messages and (project_id | string) in current_user.new_messages.split(",") %}
<span class="icon-text">
    <span class="icon">
        <i class="si fa-regular--comments" aria-hidden="true"></i>
    </span>
</span>
{% endif %}
{% endmacro %}


{% macro project_icons(status) %}
{% if status == "draft" %}
<span class="icon has-text-grey-light">
    <i class="si fa6-solid--person-digging" aria-hidden="true"></i>
</span>
{% elif status == "ready-1" %}
<span class="icon has-text-warning">
    <i class="si fa--circle-check-regular" aria-hidden="true"></i>
</span>
{% elif status in ["validated-1", "validated-10"] %}
<span class="icon has-text-primary">
    <i class="si fa--circle-check-regular" aria-hidden="true"></i>
</span>
{% elif status == "ready" %}
<span class="icon has-text-warning">
    <i class="si fa--circle-check" aria-hidden="true"></i>
</span>
{% elif status == "validated" %}
<span class="icon has-text-primary">
    <i class="si fa--circle-check" aria-hidden="true"></i>
</span>
{% elif status == "rejected" %}
<span class="icon has-text-danger">
    <i class="si mdi--cancel-bold" aria-hidden="true"></i>
</span>
{% else %}
<span class="icon has-text-danger">
    <i class="si fa--circle-question" aria-hidden="true"></i>
</span>
{% endif %}
{% endmacro %}


{% macro students_table(students) %}
<div class="table-container is-size-7">
    <table class="table is-striped is-hoverable">
        <tbody>
        {% for i in range(0, students|length, 3) %}
            <tr>
                <td>{{ students[i] }}</td>
                <td>{{ students[i + 1] }}</td>
                <td>{{ students[i + 2] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}


{% macro render_project_field(label, value, value2="", arg="") %}
<div class="columns px-3 pt-3">
    <div class="column is-one-third has-text-right-tablet px-2 py-0 has-background-primary has-text-primary-invert">
        <div>{{ label }}</div>
    </div>
    <div class="column px-2 py-0">
        {% if arg == "tags" %}
        <div class="tags is-searchable">
            {% for val in value.split(",") if val %}
                <span class="tag">{{ val }}</span>
            {% endfor %}
        </div>
        {% elif arg == "members" %}
        <div class="tags is-searchable">
            {% for member in value %}
                <span class="tag">{{ get_name(member.pid) }}</span>
            {% endfor %}
        </div>
        {% elif arg == "budget" %}
            <div>{{ value }}</div>
            <div class="is-searchable">{{ value2 }}</div>
        {% elif arg == 'comments' %}
            <span class="icon-text">
                <a href="{{ url_for('projects.view_project', id=value2) }}"
                    <span class="pr-2">{{ value }}</span>
                    {{ comments_icon(value2) }}
                </a>
            </span>
        {% elif arg == "students" %}
            {{ students_table(value.split(',')) }}
        {% elif arg == "links" %}
        <div class="is-searchable">
            <p>
            {% for i in range(1, 5) %}
                {% set link_url = value['link_' ~ i] %}
                {% set link_title = value['link_t_' ~ i] %}
                
                {% if link_url %}
                    <a href="{{ link_url }}" target="_blank">
                        {{ link_title if link_title else link_url|truncate(60, true) }}
                        <i class="si fa--arrow-up-right-from-square is-size-7" aria-hidden="true"></i>
                    </a>
                    {% if not loop.last %}<br>{% endif %}
                {% endif %}
            {% endfor %}
            </p>
        </div>
        {% else %}
        <div class="is-searchable">{{ value }}</div>
        {% endif %}
    </div>
</div>
{% endmacro %}


{% macro render_project(project) %}
{% set authorized = regex_search("(^|,)" + current_user.p.department + "(,|$)", project.departments) or (current_user.p.role in ["gestion", "direction", "admin"]) %}

{% set heading_style = "is-size-7 has-text-weight-light is-uppercase has-text-grey" %}

<table class="table is-fullwidth">
  <tbody>
    <tr>
        <td class="has-text-centered">
            <p class="{{ heading_style }}">Année scolaire</p>
            <p class="has-text-weight-bold">{{ project.school_year }}</p>
        </td>

        {% if project.status != "draft" %}
        <td class="has-text-centered">
            {% if project.status == "ready-1" %}
            <p class="{{ heading_style }}">Projet en attente d'accord{{ ' et inclusion au budget ' if project.has_budget else '' }}</p>
            <p class="has-text-weight-bold">{{ get_date_fr(project.modified_at) }}</p>
            <p>par {{ get_name(uid=project.modified_by, option="s", current_user_uid=current_user.id) }}</p>
            {% elif project.status == "validated-1" %}
            <p class="{{ heading_style }}">Projet {{ 'et budget ' if project.has_budget else '' }}approuvé</p>
            <p class="has-text-weight-bold">{{ get_date_fr(project.validated_at) }}</p>
            <p>par {{ get_name(uid=project.validated_by, option="s", current_user_uid=current_user.id) }}</p>
            {% elif project.status == "ready" %}
            <p class="{{ heading_style }}">Projet en attente de validation</p>
            <p class="has-text-weight-bold">{{ get_date_fr(project.modified_at) }}</p>
            <p>par {{ get_name(uid=project.modified_by, option="s", current_user_uid=current_user.id) }}</p>
            {% elif project.status == "validated" %}
            <p class="{{ heading_style }}">Projet validé</p>
            <p class="has-text-weight-bold">{{ get_date_fr(project.validated_at) }}</p>
            <p>par {{ get_name(uid=project.validated_by, option="s", current_user_uid=current_user.id) }}</p>
            {% elif project.status == "validated-10" %}
            <p class="{{ heading_style }}">Projet dévalidé</p>
            <p class="has-text-weight-bold">{{ get_date_fr(project.validated_at) }}</p>
            <p>par {{ get_name(uid=project.validated_by, option="s", current_user_uid=current_user.id) }}</p>
            {% elif project.status == "rejected" %}
            <p class="{{ heading_style }}">Projet non retenu</p>
            <p class="has-text-weight-bold">{{ get_date_fr(project.validated_at) }}</p>
            <p>par {{ get_name(uid=project.validated_by, option="s", current_user_uid=current_user.id) }}</p>
            {% endif %}
        </td>
        {% endif %}

        {% if project.status == "ready" and project.validated_at %}
        <td class="has-text-centered">
            <p class="{{ heading_style }}">Projet {{ 'et budget ' if project.has_budget else '' }}approuvé</p>
            <p class="has-text-weight-bold">{{ get_date_fr(project.validated_at) }}</p>
            <p>par {{ get_name(uid=project.validated_by, option="s", current_user_uid=current_user.id) }}</p>
        </td>
        {% endif %}

        <td class="has-text-centered">
            <p class="{{ heading_style }}">Dates du projet</p>
            <p class="has-text-weight-semibold">{{ get_project_dates(project.start_date, project.end_date) | safe }}</p>
        </td>

        <td class="has-text-centered">
            <p class="{{ heading_style }}">Élèves</p>
            <p class="has-text-weight-bold">{{ project.nb_students }}</p>
        </td>

        {% if authorized and project.has_budget %}
        <td class="has-text-centered">
            <p class="{{ heading_style }}">Budget total</p>
            {% if project.budget_total() %}
            <p class="has-text-weight-bold">{{ krw(project.budget_total()) }}</p>
            {% endif %}
            {% if project.budget_hse() %}
            <p class="has-text-weight-bold">{{ project.budget_hse() }} HSE</p>
            {% endif %}
        </td>
        {% endif %}

        {% if project.is_recurring %}
        <td class="has-text-centered">
        <p class="{{ heading_style }}">Récurrent</p>
            <p class="icon-text">
                <span class="icon">
                    <i class="si fluent-mdl2--recurring-event" aria-hidden="true"></i>
                </span>
            </p>
        </td>
        {% endif %}
    </tr>
  </tbody>
</table>

<div class="tabs is-centered">
    <hr>
    <ul>
    <li class="is-active" data-target="main-{{ project.id }}">
        <a>
            <span>Objectifs pédagogiques</span>
        </a>
    </li>
    <li data-target="description-{{ project.id }}">
        <a>
            <span>Description</span>
        </a>
    </li>
    {% if project.location == "outer" %}
    <li data-target="fieldtrip-{{ project.id }}">
        <a>
            <span>Sortie scolaire</span>
        </a>
    </li>
    {% elif project.location == "trip" %}
    <li data-target="fieldtrip-{{ project.id }}">
        <a>
            <span>Voyage scolaire</span>
        </a>
    </li>
    {% endif %}
    {% if authorized and project.has_budget %}
    <li data-target="budget-{{ project.id }}">
        <a>
            <span>budget</span>
        </a>
    </li>
    {% endif %}
    </ul>
</div>

<div class="tab-content">
    {# ----- Project Tab: Main ----- #}
    <div id="main-{{ project.id }}">
        <div class="columns is-8">
            <!-- Main -->
            <div class="column is-two-thirds">
                <h4 class="{{ heading_style }}">Objectifs pédagogiques</h4>
                <div class="content">{{ project.objectives | markdown | safe }}</div>                
                
                {% if authorized and project.indicators %}
                    <h4 class="{{ heading_style }} mt-4">Indicateurs d'évaluation</h4>
                    <div class="content">{{ project.indicators | markdown | safe }}</div>
                {% endif %}
            </div>

            <!-- Sidebar -->
            <div class="column is-one-third">
                <h4 class="{{ heading_style }}">Équipe pédagogique</h4>
                <div class="tags">
                    {% for member in project.members %}
                        <span class="tag {{ 'has-text-weight-bold' if member.pid == project.user.pid else '' }}">{{ get_name(member.pid) }}</span>
                    {% endfor %}
                </div>

                <h4 class="{{ heading_style }} mt-4">Classes</h4>
                <div class="tags">
                    {% for division in division_names(project.divisions).split(",") %}
                        <span class="tag">{{ division }}</span>
                    {% endfor %}
                </div>

                <h4 class="{{ heading_style }}">Projet d'Établissement</h4>
                <p class="{{ heading_style }} mt-1">Axe</p>
                <p>{{ project.axis }}</p>
                <p class="{{ heading_style }} mt-1">Priorité</p>
                <p>{{ project.priority }}</p>

                <h4 class="{{ heading_style }} mt-4">Lieu</h4>
                <p>{{ get_label(project.location, "location") }}</p>

                {% if authorized %}
                <h4 class="{{ heading_style }} mt-4">Dernière modification</h4>
                <p>{{ get_date_fr(project.modified_at) }} par {{ get_name(uid=project.modified_by, option="s", current_user_uid=current_user.id) }}</p>
                {% endif %}

                <h4 class="{{ heading_style }} mt-4">Création</h4>
                <p>{{ get_date_fr(project.created_at) }} par {{ get_name(uid=project.uid, option="s", current_user_uid=current_user.id) }}</p>

                {% set nb_comments = project.comments | count %}
                {% if authorized and nb_comments %}
                <h4 class="{{ heading_style }} mt-4">Commentaires</h4>
                <span class="icon-text">
                    <a href="{{ url_for('projects.view_project', id=project.id) }}"
                        <span class="pr-2">{{ nb_comments }}</span>
                        {{ comments_icon(project.id) }}
                    </a>
                </span>
                {% endif %}
            </div>
        </div>
    </div>

    {# ----- Project Tab: Description ----- #}
    <div id="description-{{ project.id }}" class="is-hidden">
        <div class="columns is-8">
            <!-- Main -->
            <div class="column is-two-thirds">
                <h4 class="{{ heading_style }}">Description</h4>             
                <div class="content">{{ project.description | markdown | safe }}</div>

                {% if authorized and project.link_1 %}
                <h4 class="{{ heading_style }}">{{ 'Liens' if project.link_2 or project.link_3 or project.link_4 else 'Lien' }}</h4>
                {% for i in range(1, 5) %}
                    {% set link_url = project | attr('link_' ~ i) | default('') %}
                    {% set link_title = project | attr('link_t_' ~ i) | default('') %}
                    
                    {% if link_url %}
                        <a href="{{ link_url }}" target="_blank">
                            {{ link_title if link_title else link_url|truncate(70, true) }}
                            <i class="si fa--arrow-up-right-from-square is-size-7" aria-hidden="true"></i>
                        </a>
                        {% if not loop.last %}<br>{% endif %}
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>

            <!-- Sidebar -->
            <div class="column is-one-third">
                <h4 class="{{ heading_style }}">Départements</h4>
                <div class="tags">
                    {% for dept in project.departments.split(",") %}
                        <span class="tag">{{ dept }}</span>
                    {% endfor %}
                </div>

                <h4 class="{{ heading_style }} mt-4">Parcours éducatifs</h4>
                <div class="tags">
                    {% for path in project.paths.split(",") %}
                        <span class="tag">{{ path }}</span>
                    {% endfor %}
                </div>

                <h4 class="{{ heading_style }} mt-4">Compétences transversales</h4>
                <div class="tags">
                    {% for skill in project.skills.split(",") %}
                        <span class="tag">{{ skill }}</span>
                    {% endfor %}
                </div>

                <h4 class="{{ heading_style }} mt-4">Travail des élèves</h4>
                <p>{{ project.mode }}</p>

                <h4 class="{{ heading_style }} mt-4">Participation</h4>
                <p>{{ get_label(project.requirement, "requirement") }}</p>

                {% if project.requirement == "no" and project.students %}
                <div class="accordion-wrapper">
                    <div class="accordion-trigger is-clickable is-flex is-align-items-center is-justify-content-between {{ heading_style }} mt-4">
                        <span class="icon-text">
                            Liste des élèves
                        </span>
                        <span class="icon has-text-primary chevron-icon">
                            <i class="si fa--angle-down" aria-hidden="true"></i>
                        </span>
                    </div>
                    
                    <div class="toggle-data is-hidden">
                        <div class="py-2">
                            <div class="content">
                                {{ students_table((project.students | replace("\r\n", ",")).split(',')) }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {# ----- Project Tab: Fieldtrip ----- #}
    {% if project.location in ["outer", "trip"] %}
    <div id="fieldtrip-{{ project.id }}" class="is-hidden">
        <div class="columns is-8">
            <div class="column">
                <h4 class="{{ heading_style }}">Adresse</h4>
                <p>{{ project.fieldtrip_address | replace("\r\n", "<br/>") | safe }}</p>

                {% if project.fieldtrip_impact %}
                <h4 class="{{ heading_style }} mt-4">Incidence sur les autres cours et AES</h4>
                <p>{{ project.fieldtrip_impact | replace("\r\n", "<br/>") | safe }}</p>
                {% endif %}
            </div>
            <div class="column">
                <h4 class="{{ heading_style }}">Encadrement (personnels LFS)</h4>
                <div class="tags">
                    {% for member in project.members %}
                        <span class="tag {{ 'has-text-weight-bold' if member.pid == project.user.pid else '' }}">{{ get_name(member.pid) }}</span>
                    {% endfor %}
                </div>

                {% if project.fieldtrip_ext_people %}
                <h4 class="{{ heading_style }} mt-4">Encadrement (personnes extérieures au LFS et stagiaires)</h4>
                <div class="tags">
                    {% for val in project.fieldtrip_ext_people.split(",") %}
                        <span class="tag">{{ val }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    
    {# ----- Project Tab: Budget ----- #}
    {% if authorized and project.has_budget %}
    <div id="budget-{{ project.id }}" class="is-hidden">
        <h4 class="{{ heading_style }}">Code budgétaire</h4>
        <p class="has-text-weight-semibold">{{ project.budget_id if project.budget_id else 'Non attribué'}}</p>

        <h4 class="{{ heading_style }} mt-4">Détails du budget</h4>

        <div class="columns is-6">
            {% if project.budget_hse_1 or project.budget_total_1() %}
            <div class="column ">
                <div class="table-container">
                    <table class="table  is-striped is-hoverable">
                        <thead>
                            <tr>
                                <th style="white-space: nowrap; width: 1%;">Année {{ project.start_date.year }}</th>
                                <td class="has-text-right" style="white-space: nowrap; width: 1%;"></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if project.budget_hse_1 %}
                            <tr>
                                <th style="white-space: nowrap;">HSE</th>
                                <td class="has-text-right" style="white-space: nowrap;">{{ project.budget_hse_1 }} h</td>
                                <td>{{ project.budget_hse_c_1 | markdown | safe }}</td>
                            </tr>
                            {% endif %}
                            
                            {% if project.budget_exp_1 %}
                            <tr>
                                <th style="white-space: nowrap;">Matériel</th>
                                <td class="has-text-right" style="white-space: nowrap;">{{ krw(project.budget_exp_1) }}</td>
                                <td>{{ project.budget_exp_c_1 | markdown | safe  }}</td>
                            </tr>
                            {% endif %}
                            
                            {% if project.budget_trip_1 %}
                            <tr>
                                <th style="white-space: nowrap;">Déplacements</th>
                                <td class="has-text-right" style="white-space: nowrap;">{{ krw(project.budget_trip_1) }}</td>
                                <td>{{ project.budget_trip_c_1 | markdown | safe  }}</td>
                            </tr>
                            {% endif %}
                            
                            {% if project.budget_int_1 %}
                            <tr>
                                <th style="white-space: nowrap;">Intervenants</th>
                                <td class="has-text-right" style="white-space: nowrap;">{{ krw(project.budget_int_1) }}</td>
                                <td>{{ project.budget_int_c_1 | markdown | safe  }}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                        {% if project.budget_total_1() %}
                        <tfoot>
                            <tr>
                                <th style="white-space: nowrap;">TOTAL</th>
                                <th class="has-text-right" style="white-space: nowrap;">{{ krw(project.budget_total_1()) }}</th>   
                                <th></th>  
                            </tr>
                        </tfoot>
                        {% endif %}
                    </table>
                </div>
            </div>
            {% endif %}

            {% if project.budget_hse_2 or project.budget_total_2() %}
            <div class="column">                
                <div class="table-container">
                    <table class="table is-striped is-hoverable">
                        <thead>
                            <tr>
                                <th style="white-space: nowrap; width: 1%;">Année {{ project.end_date.year }}</th>
                                <th class="has-text-right" style="white-space: nowrap; width: 1%;"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if project.budget_hse_2 %}
                            <tr>
                                <th style="white-space: nowrap;">HSE</th>
                                <td class="has-text-right" style="white-space: nowrap;">{{ project.budget_hse_2 }} h</td>
                                <td>{{ project.budget_hse_c_2 | markdown | safe  }}</td>
                            </tr>
                            {% endif %}
                            
                            {% if project.budget_exp_2 %}
                            <tr>
                                <th style="white-space: nowrap;">Matériel</th>
                                <td class="has-text-right" style="white-space: nowrap;">{{ krw(project.budget_exp_2) }}</td>
                                <td>{{ project.budget_exp_c_2 | markdown | safe  }}</td>
                            </tr>
                            {% endif %}
                            
                            {% if project.budget_trip_2 %}
                            <tr>
                                <th style="white-space: nowrap;">Déplacements</th>
                                <td class="has-text-right" style="white-space: nowrap;">{{ krw(project.budget_trip_2) }}</td>
                                <td>{{ project.budget_trip_c_2 | markdown | safe  }}</td>
                            </tr>
                            {% endif %}
                            
                            {% if project.budget_int_2 %}
                            <tr>
                                <th style="white-space: nowrap;">Intervenants</th>
                                <td class="has-text-right" style="white-space: nowrap;">{{ krw(project.budget_int_2) }}</td>
                                <td>{{ project.budget_int_c_2 | markdown | safe  }}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                        {% if project.budget_total_2() %}
                        <tfoot>
                            <tr>
                                <th style="white-space: nowrap;">TOTAL</th>
                                <th class="has-text-right" style="white-space: nowrap;">{{ krw(project.budget_total_2()) }}</th>   
                                <th></th>  
                            </tr>
                        </tfoot>
                        {% endif %}
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endmacro %}


{% macro render_project_buttons(form, project, bttns="HCDSFPRVM") %}
{% set is_involved = (project.uid == current_user.id) or (current_user.p.id in project.members|map(attribute='pid')) %}
{# History button #}
{% if "H" in bttns %}
    {% if is_involved or current_user.p.role in ["gestion", "direction", "admin"] %}
    <a class="card-footer-item js-modal-trigger" data-button-title="Voir l'historique de la fiche projet" data-target="modal-history" data-project-id="{{ project.id }}" data-project-title="{{ project.title }}">
        <span class="icon-text is-flex is-align-items-center">
            <span class="icon">
                <i class="si mdi--timeline-clock-outline" aria-hidden="true"></i>
            </span>
            <span>Historique</span>
        </span>
    </a>
    {% endif %}
{% endif %}

{# Duplicate button #}
{% if "C" in bttns and not lock %}
    {% if is_involved %}
    <a href="/form/{{ project.id }}/duplicate" 
        class="card-footer-item submit-once" 
        data-button-title="Créer un nouveau projet à partir des données de cette fiche projet">
        <span class="icon-text is-flex is-align-items-center">
            <span class="icon">
                <i class="si mdi--content-duplicate" aria-hidden="true"></i>
            </span>
            <span>Dupliquer</span>
        </span>
    </a>
    {% endif %}
{% endif %}

{# Devalidate button #}
{% if "D" in bttns and not lock %}
    {% if current_user.p.role == "direction" and project.status == "validated" and project.school_year >= sy %}
    <a class="card-footer-item js-modal-trigger" 
        data-button-title="Dévalider le projet pour permettre une modification par l'équipe pédagogique" 
        data-target="modal-devalidate" 
        data-project-id="{{ project.id }}" 
        data-project-title="{{ project.title }}">
        <span class="icon-text is-flex is-align-items-center">
            <span class="icon">
                <i class="si fa--rotate-left" aria-hidden="true"></i>
            </span>
            <span>Dévalider</span>
        </span>
    </a>
    {% endif %}
{% endif %}

{# Delete button #}
{% if ("S" in bttns) and not lock and project.status != "validated" %}
    {% if (current_user.id == project.uid) %}
    <a class="card-footer-item js-modal-trigger" 
        data-button-title="Supprimer le projet"
        data-target="modal-delete" 
        data-project-id="{{ project.id }}" 
        data-project-title="{{ project.title }}">
        <span class="icon-text is-flex is-align-items-center">
            <span class="icon">
                <i class="si mdi--trash" aria-hidden="true"></i>
            </span>
            <span>Supprimer</span>
        </span>
    </a>
    {% endif %}
{% endif %}

{# Reject button #}
{% if "R" in bttns and not lock %}
    {% if current_user.p.role == "direction" and project.status in ["ready-1", "ready"] %}
    <a class="card-footer-item js-modal-trigger" 
        data-button-title="Ne pas retenir le projet" 
        data-target="modal-reject" 
        data-project-id="{{ project.id }}" 
        data-project-title="{{ project.title }}">
        <span class="icon-text is-flex is-align-items-center">
            <span class="icon">
                <i class="si mdi--cancel-bold" aria-hidden="true"></i>
            </span>
            <span>Refuser</span>
        </span>
    </a>
    {% endif %}
{% endif %}

{# Project page button #}
{% if "F" in bttns %}
    {% if is_involved or (current_user.p.role in ["gestion", "direction"]) %}
    <a href="/project/{{ project.id }}" 
        class="card-footer-item submit-once" 
        data-button-title="Accéder à la fiche projet : voir les commentaires, ajouter un commentaire">
        <span class="icon-text is-flex is-align-items-center">
            <span class="icon">
                {% if current_user.new_messages and (project.id | string) in current_user.new_messages.split(",") %}
                <i class="si fa-regular--comments" aria-hidden="true"></i>
                {% else %}
                <i class="si mdi--chat-outline" aria-hidden="true"></i>
                {% endif %}
            </span>
            <span>Commenter</span>
        </span>
    </a>
    {% endif %}
{% endif %}

{# Print fieldtrip PDF file button #}
{% if "P" in bttns and project.location == "outer" and project.status == "validated" %}
    {% if is_involved or (current_user.p.role in ["gestion", "direction", "admin"]) %}
    <a href="/project/print/{{ project.id }}" 
        class="card-footer-item submit-once js-modal-trigger" 
        data-button-title="Générer la fiche de sortie du projet"
        data-target="modal-working" 
        data-message="Génération de la fiche de sortie">
        <span class="icon-text is-flex is-align-items-center">
            <span class="icon">
                <i class="si mdi--printer-outline" aria-hidden="true"></i>
            </span>
            <span>Fiche de sortie</span>
        </span>
    </a>
    {% endif %}
{% endif %}

{# Validate button #}
{% if "V" in bttns and not lock %}
    {% if current_user.p.role == "direction" and project.status in ["ready-1", "ready"] %}
        {% if project.status == 'ready-1' %}
        <a class="card-footer-item js-modal-trigger" 
            data-button-title="Approuver le projet" 
            data-target="modal-approve" 
            data-project-id="{{ project.id }}" 
            data-project-title="{{ project.title }}">
            <span class="icon-text is-flex is-align-items-center">
                <span class="icon">
                    <i class="si fa--check" aria-hidden="true"></i>
                </span>
                <span>Approuver</span>
            </span>
        </a>
        {% elif project.school_year <= sy %}
        <a class="card-footer-item js-modal-trigger" 
            data-button-title="Valider le projet" 
            data-target="modal-validate" 
            data-project-id="{{ project.id }}" 
            data-project-title="{{ project.title }}">
            <span class="icon-text is-flex is-align-items-center">
                <span class="icon">
                    <i class="si fa--check" aria-hidden="true"></i>
                </span>
                <span>Valider</span>
            </span>
        </a>
        {% endif %}
    {% endif %}
{% endif %}

{# Modify button #}
{% if ("M" in bttns) and not lock and project.status not in ["validated", "rejected"] and project.school_year >= sy %}
    {% if is_involved %}
    <a href="/form/{{ project.id }}/update" 
        class="card-footer-item submit-once" 
        data-button-title="Modifier le projet, faire une demande d'accord ou de validation">
        <span class="icon-text is-flex is-align-items-center">
            <span class="icon">
                <i class="si mdi--lead-pencil" aria-hidden="true"></i>
            </span>
            <span>Modifier</span>
        </span>
    </a>
    {% endif %}
{% endif %}
{% endmacro %}
