{# modals for project buttons #}

{% macro project_modals(form) %}

{% if current_user.p.role == "direction" %}
{# Approve modal #}
<div id="modal-approve" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">Confirmer l'accord</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Projet : <span class="project-title"></h3>
                <p>{{ current_user.p.firstname }} {{ current_user.p.name }} confirme <strong>approuver</strong> ce projet et son budget.</p>
            </div>
        </section>
        <footer class="modal-card-foot is-justify-content-flex-end">
            <div class="buttons">
                <button class="button">Annuler</button>
                <div class="control" data-button-title="Approuver le projet">
                    <form action="/project/validation" method="GET">
                        <button type="submit" class="button is-primary submit-once">
                            <span class="icon">
                                <i class="si fa--check" aria-hidden="true"></i>
                            </span>
                            <span>Approuver</span>
                        </button>
                    </form>
                </div>
            </div>
        </footer>
    </div>
</div>


{# Validate modal #}
<div id="modal-validate" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-link-light">
            <p class="modal-card-title">Confirmer la validation</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Projet : <span class="project-title"></h3>
                <p>{{ current_user.p.firstname }} {{ current_user.p.name }} confirme <strong>valider</strong> ce projet.</p>
                <p>Après validation, le projet ne pourra plus être modifié.<br>
                    Pour une sortie scolaire, la fiche de sortie est accessible après validation.</p>
            </div>
        </section>
        <footer class="modal-card-foot is-justify-content-flex-end">
            <div class="buttons">
                <button class="button">Annuler</button>
                <div class="control" data-button-title="Valider le projet">
                    <form action="/project/validation" method="GET">
                        <button type="submit" class="button is-link submit-once">
                            <span class="icon">
                                <i class="si fa--check" aria-hidden="true"></i>
                            </span>
                            <span>Valider</span>
                        </button>
                    </form>
                </div>
            </div>
        </footer>
    </div>
</div>


{# Reject modal #}
<div id="modal-reject" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-danger">
            <p class="modal-card-title">Confirmer le refus</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Projet : <span class="project-title"></h3>
                <p>{{ current_user.p.firstname }} {{ current_user.p.name }} confirme <strong>refuser</strong> ce projet.</p>
            </div>
        </section>
        <footer class="modal-card-foot is-justify-content-flex-end">
            <div class="buttons">
                <div class="control" data-button-title="Refuser le projet">
                    <form action="/project/reject" method="GET">
                        <button type="submit" class="button is-danger submit-once">
                            <span class="icon">
                                <i class="si fa-solid--ban" aria-hidden="true"></i>
                            </span>
                            <span>Refuser</span>
                        </button>
                    </form>
                </div>
                <button class="button">Annuler</button>
            </div>
        </footer>
    </div>
</div>


{# Devalidate modal  #}
<div id="modal-devalidate" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-warning">
            <p class="modal-card-title">Confirmer la dévalidation</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Projet : <span class="project-title"></span></h3>
                <p>{{ current_user.p.firstname }} {{ current_user.p.name }} confirme <strong>dévalider</strong> ce projet.</p>
                <p>Le projet sera remis au <strong>statut approuvé</strong> avec la mention <em>dévalidé</em> et pourra de nouveau être modifié.<br>
                L'équipe pédagogique porteuse du projet pourra effectuer une nouvelle demande de validation.</p>
            </div>
        </section>
        <footer class="modal-card-foot is-justify-content-flex-end">
            <div class="buttons">
                <div class="control" data-button-title="Dévalider le projet">
                    <form action="/project/devalidation" method="GET">
                        <button type="submit" class="button is-warning submit-once">
                            <span class="icon">
                                <i class="si fa--rotate-left" aria-hidden="true"></i>
                            </span>
                            <span>Dévalider</span>
                        </button>
                    </form>
                </div>
                <button class="button">Annuler</button>
            </div>
        </footer>
    </div>
</div>
{% endif %}

{# Delete modal #}
<div id="modal-delete" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-danger">
            <p class="modal-card-title">Confirmer la suppression</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Projet : <span class="project-title"></h3>
                <p>Voulez-vous vraiment <strong>supprimer</strong> ce projet ?</p>
                
            </div>
        </section>
        <footer class="modal-card-foot is-justify-content-flex-end">
            <div class="buttons">
                <div class="control" data-button-title="Supprimer le projet">
                    <form action="/project/delete" method="GET">
                        <button type="submit" class="button is-danger">
                            <span class="icon">
                                <i class="si mdi--trash" aria-hidden="true"></i>
                            </span>
                            <span>Supprimer</span>
                        </button>
                    </form>
                </div>
                <button class="button">Annuler</button>
            </div>
        </footer>
    </div>
</div>


{# History modal #}
<div id="modal-history" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-info">
            <p class="modal-card-title">Historique du projet</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3><span class="project-title"></h3>
                <div id="historyContent"><span class="has-text-grey-light">Historique en cours de chargement...</span></div>
            </div>
        </section>
        <footer class="modal-card-foot is-justify-content-flex-end">
            <div class="buttons">
                <button class="button">Fermer</button>
            </div>
        </footer>
    </div>
</div>

{# Working modal (fieldtrip PDF generation) #}
<div id="modal-working" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <div class="buttons are-medium has-addons is-centered">
                <button class="button is-white is-loading"></button>
                <button class="button is-static is-white has-text-grey"><span></span>...</button>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endmacro %}