<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Projets LFS</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static',filename='styles/bulma.min.css') }}"
    >
    <link 
        rel="stylesheet" 
        href="{{ url_for('static',filename='styles/app.css') }}"
    >
    <link
        rel="stylesheet"
        href="{{ url_for('static',filename='fontawesome/css/all.min.css') }}"
    >
    <script 
        type="text/javascript" 
        src="{{ url_for('static',filename='js/script0.js') }}">
    </script>
    <script>
        /*to prevent Firefox FOUC, this must be here*/
        let FF_FOUC_FIX;
    </script>
    {% endblock %}
</head>

<body class="theme-light">
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{{ LFS_WEBSITE }}">
                            <img src="{{ url_for('static',filename='assets/'+LFS_LOGO) }}" alt="Logo LFS" style="max-height: 64px" class="p2">
                        </a>
                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item" href="{{ url_for('main.index') }}">
                                Accueil
                            </a>
                            {% if current_user.is_authenticated %}
                            <a class="navbar-item" href="{{ url_for('main.projects') }}">
                                Projets
                            </a>
                            <a class="navbar-item" href="{{ url_for('main.data') }}">
                                Données
                            </a>
                                {% if current_user.p.role in ["gestion", "direction", "admin"] %}
                                <a class="navbar-item" href="{{ url_for('main.budget') }}">
                                    Budget
                                </a>
                                {% endif %}
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                                {% if production_env %}
                                <a class="navbar-item" href="{{ url_for('auth.google_login') }}">
                                    Connexion
                                </a>
                                {% else %}
                                <a class="navbar-item" href="{{ url_for('auth.login') }}">
                                    Connexion
                                </a>
                                <a class="navbar-item" href="{{ url_for('auth.signup') }}">
                                    Inscription
                                </a>
                                {% endif %}
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a class="navbar-item" href="{{ url_for('auth.logout') }}">
                                Déconnexion
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>


        {% block content %}
        {% endblock %}


        <footer class="hero-foot has-text-centered">
            {% block footer %}
            <div class="container is-size-7 mt-6 mb-3">
                <p><a href="/">Projets LFS</a> 
                    <span class="icon">
                    <i class="far fa-copyright" aria-hidden="true"></i>
                    </span> 2024 &ndash; <span id="this-year"></span>, 
                    <a href="{{ LFS_WEBSITE }}">LFS</a>
                </p>
                <p>Conception et réalisation : 
                <a href="mailto:{{ REFERENT_NUMERIQUE_EMAIL }}">{{ AUTHOR }}</a>
                </p>
                {% if current_user.is_authenticated %}
                <div class="is-size-7">
                    Construit avec
                    <a href="https://www.python.org/">Python</a>, 
                    <a href="https://flask.palletsprojects.com/">Flask</a>, 
                    <a href="https://www.sqlalchemy.org/">SQLAlchemy</a>, 
                    <a href="https://wtforms.readthedocs.io/">WTForms</a>,
                    <a href="https://authlib.org/">Authlib</a>,
                    <a href="https://plotly.com/">Plotly</a> et 
                    <a href="https://bulma.io/">Bulma</a> 
                </div>
                <div class="is-size-7">
                    Code source sur 
                    <a href="{{ GITHUB_REPO }}">
                        <span>GitHub</span>
                        <span class="icon"><i class="fa-brands fa-github"></i></span>
                    </a>
                    v. {{ __version__ }}
                </div>
                {% endif %}
            </div>
            {% endblock %}
        </footer>
    </section>
</body>

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
{% endblock %}

</html>