<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Projets LFS</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static',filename='styles/bulma.min.css') }}"
    >
    <link 
        rel="stylesheet" 
        href="{{ url_for('static',filename='styles/app.css') }}"
    >
    <link
        rel="stylesheet"
        href="{{ url_for('static',filename='styles/icons.css') }}"
    >
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='assets/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='assets/favicon-16x16.png') }}" sizes="16x16" />
    <link rel="shortcut icon" href="{{ url_for('static',filename='assets/favicon.ico') }}" />
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ url_for('static',filename='assets/apple-touch-icon.png') }}" />
    <link rel="android-chrome-icon" type="image/png" sizes="192x192" href="{{ url_for('static',filename='assets/android-chrome-192x192.png') }}" />
    <link rel="manifest" href="{{ url_for('static',filename='assets/site.webmanifest') }}" />

    <script>
        /*to prevent Firefox FOUC, this must be here*/
        let FF_FOUC_FIX;
    </script>
    <script 
        type="text/javascript" 
        src="{{ url_for('static',filename='js/script0.js') }}">
    </script>
    {% endblock %}
</head>

<body class="theme-light">
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{{ LFS_WEBSITE }}">
                            <img src="{{ url_for('static',filename='assets/' ~ LFS_LOGO) }}" alt="Logo LFS" style="max-height: 64px" class="p2">
                        </a>
                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item" href="{{ url_for('main.index') }}">
                                Accueil
                            </a>
                            {% if current_user.is_authenticated %}
                            <a class="navbar-item" href="{{ url_for('main.projects') }}">
                                Projets
                            </a>
                            <a class="navbar-item" href="{{ url_for('main.data') }}">
                                Données
                            </a>
                                {% if current_user.p.role in ["gestion", "direction", "admin"] %}
                            <a class="navbar-item" href="{{ url_for('main.budget') }}">
                                Budget
                            </a>
                                {% endif %}
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                                {% if production_env %}
                            <a class="navbar-item" href="{{ url_for('auth.google_login') }}">
                                Connexion
                            </a>
                                {% else %}
                            <a class="navbar-item" href="{{ url_for('auth.login') }}">
                                Connexion
                            </a>
                            <a class="navbar-item" href="{{ url_for('auth.signup') }}">
                                Inscription
                            </a>
                                {% endif %}
                            {% endif %}

                            {% if current_user.is_authenticated %}
                            <a class="navbar-item" href="{{ url_for('auth.logout') }}">
                                Déconnexion
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        {% block content %}
        {% endblock %}

        <footer class="hero-foot">
            {% block footer %}
            <div class="container has-text-centered mt-6 mb-3">
                <div class="content is-size-7">
                    <p>
                        <a id="url-root" href="{{ APP_WEBSITE if production_env else '/' }}">Projets LFS</a>
                        <span class="icon">
                            <i class="si sic fa--copyright-regular" aria-hidden="true"></i>
                        </span>
                        <span>2024 &ndash; <span id="this-year"></span>,</span>
                        <a href="{{ LFS_WEBSITE }}" target="_blank">LFS</a>
                    <br>Conception et réalisation : 
                        <a href="mailto:{{ REFERENT_NUMERIQUE_EMAIL }}">{{ AUTHOR }}</a>

                    {% if current_user.is_authenticated %}
                    <br>
                        Construit en open source avec
                        <a href="https://www.python.org/" target="_blank">Python</a>, 
                        <a href="https://flask.palletsprojects.com/" target="_blank">Flask</a>, 
                        <a href="https://www.sqlalchemy.org/" target="_blank">SQLAlchemy</a>, 
                        <a href="https://wtforms.readthedocs.io/" target="_blank">WTForms</a>,
                        <a href="https://authlib.org/" target="_blank">Authlib</a>,
                        <a href="https://plotly.com/" target="_blank">Plotly</a> et 
                        <a href="https://bulma.io/" target="_blank">Bulma</a> 
                    <br>
                        Code source sur 
                        <a class="mx-1" href="{{ GITHUB_REPO }}" target="_blank">
                            GitHub
                            <span class="icon">
                                <i class="si sic fa6-brands--github" aria-hidden="true"></i>
                            </span>
                        </a>
                        v. {{ __version__ }}
                    </p>
                    {% endif %}
                </div>
            </div>
            {% endblock %}
        </footer>
    </section>

    {% block scripts %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
    {% endblock %}

    {% block page_scripts %}
    {% endblock page_scripts %}

</body>

</html>