{% from "_data_helpers.html" import render_budget_overview, budget_by_department_tab, copy_table_button with context %}
{% from "_budget_helpers.html" import sy_budget_tab, fy_budget_tab with context %}
{% from "_helpers.html" import utilisateur with context %}

{% extends "base.html" %}

{% block content %}
<div class="container">
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title is-spaced">
                {% block title %} Analyse du budget {% endblock %}
            </h1>
            <h2 class="subtitle">Utilisateur : {{ utilisateur() }}</h2>
        </div>
    </section>

    <section>
        <div class="columns is-centered">
            <div class="column">
                <div class="box">
                    <div class="tabs is-centered is-medium is-toggle is-fullwidth">
                        <ul>
                            <li class="is-active" data-target="sy-budget"><a>Année scolaire</a></li>
                            <li data-target="fy-budget"><a>Année fiscale</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="sy-budget">
                            {{ sy_budget_tab() }}
                        </div>
                        <div id="fy-budget" class="is-hidden">
                            {{ fy_budget_tab() }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static',filename='js/data.js') }}"></script>
{% endblock %}