{% from "_helpers.html" import db_state with context %}
{% from "_helpers.html" import utilisateur with context %}
{% from "_form_helpers.html" import render_field %}

{% extends "base.html" %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
<div class="hero-body">
    <div class="container">
        <div class="section">
            <div class="container has-text-centered">
                <h1 class="title is-spaced">
                    Tableau de bord
                </h1>
                <h2 class="subtitle">Utilisateur : {{ utilisateur() }}</h2>
            </div>
        </div>
        <div class="section">
            <div class="container">

                {# Display Project table status #}
                <div class="columns is-centered">
                    <div class="column is-half is-two-thirds-tablet">
                        <div class="columns">
                            <div class="column">
                                <div class="box has-text-centered">
                                    <a href="/projects" class="button has-text-weight-semibold is-success is-light">
                                    {{ n_projects }} projet{{ "" if n_projects in [0,1] else "s" }}
                                    </a>
                                    <p class="pt-3">enregistré{{ "" if n_projects in [0,1] else "s" }} dans la base</p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="box has-text-centered">
                                    {{ db_state(lock) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Maintenance message #}
                {% if lock == 2 %}
                <div class="columns is-centered">
                    <div class="column is-half is-two-thirds-tablet">
                        <div class="box">
                            <p class="has-text-weight-medium has-text-danger">{{ lock_message }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}

                {# Set Project table status as open/closed #}
                <div class="columns is-centered">
                    <div class="column is-half is-two-thirds-tablet">
                        <div class="box">
                            <form action="/dashboard" method="POST">
                                {{ form.csrf_token }}
                                <div class="field">
                                    <label class="label">
                                        {{ form.lock.label }}
                                    </label>
                                </div>
                                <div class="control">
                                    <div class="radio">
                                        {{ form.lock() }}
                                    </div>
                                </div>
                                <div class="control pt-4">
                                    {{ form.submit(class="button is-link") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                {# Download Project table as csv file #}
                <div class="columns is-centered">
                    <div class="column is-half is-two-thirds-tablet">
                        <div class="box">
                            <form action="/download" method="POST">
                                {{ form2.csrf_token }}
                                {{ form2.file(value="csv") }}
                                <div class="field">
                                    <label class="label">
                                        {{ form2.file.label }}
                                    </label>
                                </div>
                                <div class="control pt-4">
                                    {{ form2.submit(class="button is-link submit-once") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                {# View Personnel table #}
                <div class="columns is-centered">
                    <div class="column is-half is-two-thirds-tablet">
                        <div class="box">
                            <p class="label pb-4">Personnels et équipes pédagogiques</p>
                            <a href="/data/personnels" class="button is-primary">
                                Afficher
                            </a>
                        </div>
                    </div>
                </div>

                {# Set school year start and end dates #}
                <div class="columns is-centered">
                    <div class="column is-half is-two-thirds-tablet">
                        <div class="box">
                            <p class="label pb-3">Année scolaire</p>
                            <form action="/dashboard" method="POST">
                                {{ form3.csrf_token }}
                                <div class="columns is-multiline is-8">
                                    <div class="column is-narrow">
                                        {{ render_field(form3.sy_start) }}
                                    </div>
                                    <div class="column is-narrow">
                                        {{ render_field(form3.sy_end) }}
                                    </div>
                                </div>
                                {{ render_field(form3.sy_auto) }}
                                <div class="control pt-4">
                                    {{ form3.submit(class="button is-primary") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                {# app version and release date #}
                <div class="columns is-centered">
                    <div class="column is-half is-two-thirds-tablet">
                        <div class="box">
                            <p><span class="has-text-weight-semibold">Projets LFS</span> - version {{ app_version }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static',filename='js/dash.js') }}"></script>
{% endblock %}