{% from "_data_helpers.html" import render_note, render_table, render_table_2, render_table_3 with context %}
{% from "_helpers.html" import utilisateur with context %}

{% extends "base.html" %}

{% block content %}
<div class="container">
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title is-spaced">
                {% block title %} Analyse des données {% endblock %}
            </h1>
            <h2 class="subtitle">Utilisateur : {{ utilisateur() }}</h2>
            <div class="pt-4">
                <h3 class="title is-size-4">Répartition des projets par critères</h3>
            </div>
        </div>
    </section>

    <section>
        <div class="box">  
            <div class="tabs is-centered is-toggle is-toggle-rounded">
                <ul>
                    <li class="is-active" data-target="axes-and-priorities"><a>Axes et priorités</a></li>
                    <li data-target="departments"><a>Départements / Classes / Parcours / Compétences</a></li>
                    <li data-target="work"><a>Travail des élèves / Participation / Lieu</a></li>
                    <li data-target="teachers"><a>Enseignants</a></li>
                    <li data-target="finance"><a>Budget</a></li>
                </ul>
            </div>

            <div id="tab-content">

                <div id="axes-and-priorities">
                    <div class="columns is-mobile is-centered">
                        <div class="column is-narrow">
                            <div class="box">
                                <div class="table-container">
                                    <table class="table is-striped is-hoverable">
                                        <thead>
                                        <tr class="has-background-primary">
                                            <th class="py-3">
                                            <div>
                                                Axes et priorités du projet d'établissement
                                            </div>
                                            </th>
                                            <th class="px-6 py-3">
                                                Projets
                                            </th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for axis in choices["axes"] %}
                                            <tr class="has-background-primary-90">
                                                <td class="has-text-weight-semibold py-1">
                                                    {{ render_note(axis[1], df[df.axis == axis[0]]["title"]) }}
                                                </td>
                                                <td class="has-text-weight-semibold px-6 py-1">
                                                    {{ dist[axis[0]][0] }}
                                                </td>
                                                <td class="has-text-weight-semibold px-3 py-1">
                                                    {{ dist[axis[0]][1] }}
                                                </td>
                                            </tr>
                                            {% for priority in choices["priorities"][choices["axes"].index(axis)]  %}
                                            <tr>
                                                <td class="px-6 py-1" style="border: none;">
                                                    {{ render_note(priority[1], df[df.priority == priority[0]]["title"]) }} 
                                                </td>
                                                <td class="px-6 py-1" style="border: none;">
                                                    {{ dist[priority[0]][0] }}
                                                </td>
                                                <td class="px-3 py-1" style="border: none;">
                                                    {{ dist[priority[0]][1] }}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>TOTAL</th>
                                                <th class="px-6">{{ dist['TOTAL'] }}</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="departments" class="is-hidden">
                    <div class="columns is-mobile is-multiline is-centered">
                        <div class="column is-narrow">
                            <div class="box">
                                {{ render_table("Départements", "departments") }}
                            </div>
                        </div>
                        <div class="column is-narrow">
                            <div class="box">
                                {{ render_table("Secondaire", "divisions", options=choices["secondaire"]) }}
                            </div>
                        </div>
                        <div class="column is-narrow">
                            <div class="box">
                                {{ render_table("Primaire et maternelle", "divisions", options=choices["primaire"]+choices["maternelle"]) }}
                            </div>
                        </div>
                        <div class="column is-narrow">
                            <div class="box">
                                {{ render_table("Parcours éducatifs", "paths") }}
                            </div>
                        </div>
                        <div class="column is-narrow">
                            <div class="box">
                                {{ render_table("Compétences transversales", "skills") }}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="work" class="is-hidden">
                    <div class="columns is-mobile is-multiline is-centered">
                        <div class="column is-narrow">
                            <div class="box">
                                {{ render_table("Travail des élèves", "mode", radio=true) }}
                            </div>
                        </div>
                        <div class="column is-narrow">
                            <div class="box">
                                {{ render_table("Participation", "requirement", radio=true) }}
                            </div>
                        </div>
                        <div class="column is-narrow">
                            <div class="box">
                                {{ render_table_2("Lieu", "location") }}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="teachers" class="is-hidden">
                    <div class="columns is-mobile is-multiline is-centered">
                        {% if current_user.role in ["admin", "gestion", "direction"] %}
                        <div class="column is-narrow">  
                            <div class="box">
                                {{ render_table_3("Secondaire", "teachers", dpts="dpt-secondaire") }}
                            </div>
                        </div>
                        <div class="column is-narrow">  
                            <div class="box">
                                {{ render_table_3("Primaire et maternelle", "teachers", dpts="dpt-primat") }}
                            </div>
                        </div>
                        {% else %}
                        <div class="column is-narrow">  
                            <div class="box">
                                {{ render_table_3("Enseignants", "teachers", dpts=current_user.department) }}
                            </div>
                        </div>        
                        {% endif %}
                    </div>
                </div>

                <div id="finance" class="is-hidden">
                    <div class="columns is-mobile is-multiline is-centered">
                        <div class="column is-narrow">
                            <div class="box">
                                <span class="icon">
                                    <i class="fa-solid fa-person-digging"></i>
                                </span>
                                en construction...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}