{% from "_form_helpers.html" import render_form, form_notification with context %}
{% from "_helpers.html" import utilisateur with context %}
{% from "_form_help_modals.html" import form_help_modals %}

{% extends "base.html" %}

{% block title %} 
{% if not form.id.data %}
    Nouveau projet
{% else %}
    Mise à jour du projet {{ form.title.data }}
{% endif %}
{% endblock %}

{% block content %}
<div class="hero-body">
    <div class="container">
        <div class="section">
            <div class="container has-text-centered is-max-desktop">
                {% if not form.id.data %}
                <h1 class="title is-spaced">Nouveau projet</h1>
                {% else %}
                <h1 class="title">Mise à jour du projet</h1>
                <h2 class="title is-spaced has-text-primary-20">{{ form.title.data }}</h2>
                {% endif %}
                <h3 class="subtitle">Utilisateur : {{ utilisateur() }}</h3>
            </div>
        </div>

        {{ form_notification() }}

        <div class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-four-fifths">
                        <div>
                            {{ render_form(form, action='/form', cancel='/projects', v=2) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_help_modals() }}
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static',filename='js/form.js') }}"></script>
{% endblock %}