{% from "_projects_helpers.html" import project_icons with context %}
{% from "_helpers.html" import notification %}

{% extends "base.html" %}

{% block title %}Aide{% endblock %}

{% macro project_actors(actor) %}
{% if actor == "gestion" %}
<span class="tag is-info">
    Gestionnaires
</span>
{% elif actor == "direction" %}
<span class="tag is-link">
    Directeur ou Proviseur
</span>
{% elif actor == "members" %}
<span class="tag is-primary">
    Équipe pédagogique
</span>
{% endif %}
{% endmacro %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="block">
            <div class="has-text-centered">
                <h1 class="title py-6">Aide sur la gestion de la fiche projet</h1>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <h2 class="title is-4">Étapes de la vie d'un projet</h2>
                <div class="table-container">
                    <table class="table is-narrow is-striped is-hoverable">
                        <thead>
                            <tr>
                                <th>Fiche Projet</th>
                                <th>Action</th>
                                <th>Acteurs</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Création du projet</td>
                                <td>{{ project_actors("members") }}</td>
                                <td><strong>Création du projet :</strong> 
                                    <ul class="mt-1">
                                        <li>
                                            Définition des objectifs et des enjeux du projet ;
                                        </li>
                                        <li>
                                            Exploration de plusieurs axes de réflexion, formats pédagogiques et approches d'enseignement qui pourraient enrichir le projet ;
                                        </li>
                                        <li>
                                            Constitution de l'équipe pédagogique ;
                                        </li>
                                        <li>
                                            Discussions sur l'organisation, le calendrier et le budget.
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ project_icons("draft") }}</td>
                                <td>Création de la fiche projet</td>
                                <td>{{ project_actors("members") }}</td>
                                <td><strong>Fiche projet :</strong> toutes les informations nécessaires sont complétées.</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Entretien</td>
                                <td>{{ project_actors("members") }} et {{ project_actors("direction") }}</td>
                                <td><strong>Entretien de l'équipe avec la direction :</strong> présentation du projet, et discussion sur son organisation, son calendrier et son budget. Obtention d'un accord de principe.</td>
                            </tr>
                            <tr>
                                <td>{{ project_icons("ready-1") }}</td>
                                <td>Demande d'accord et inclusion au budget</td>
                                <td>{{ project_actors("members") }}</td>
                                <td><strong>Demande d'accord :</strong> demande d'accord et intégration du projet dans le budget. Cette étape confirme le lancement du projet.</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Réception et vérification de la fiche projet</td>
                                <td>{{ project_actors("gestion") }}</td>
                                <td><strong>Vérification des informations requises :</strong> s'assurer que tous les champs contiennent les informations nécessaires et que le formulaire est complet. <br>Des échanges sont possibles avec l'équipe pédagogique pour compléter ou corriger les informations de la fiche projet.</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Réunion de concertation</td>
                                <td>{{ project_actors("gestion") }} et {{ project_actors("direction") }}</td>
                                <td><strong>Réunion de concertation :</strong> présentation de la demande d'accord. Les dates du projet doivent être compatibles avec l'emploi du temps des élèves et les contraintes de l'établissement. <br>Des échanges sont également possibles avec l'équipe pédagogique afin de préciser ou modifier certains éléments du projet.</td>
                            </tr>
                            <tr>
                                <td>{{ project_icons("validated-1") }}</td>
                                <td>Projet et budget approuvé</td>
                                <td>{{ project_actors("direction") }}</td>
                                <td><strong>Accord sur le projet :</strong> le projet et son budget sont approuvés.</td>
                            </tr>
                            <tr>
                                <td>{{ project_icons("validated-1") }}</td>
                                <td>Ajustements</td>
                                <td>{{ project_actors("members") }}</td>
                                <td><strong>Ajustements possibles :</strong> dates, élèves, accompagnateurs, budget, etc.</td>
                            </tr>
                            <tr>
                                <td>{{ project_icons("ready") }}</td>
                                <td>Demande de validation</td>
                                <td>{{ project_actors("members") }}</td>
                                <td><strong>Demande de validation :</strong> confirme que le projet est prêt à être exécuté.</td>
                            </tr>
                            <tr>
                                <td>{{ project_icons("validated") }}</td>
                                <td>Projet validé</td>
                                <td>{{ project_actors("direction") }}</td>
                                <td><strong>Validation du projet :</strong> la fiche projet devient non modifiable. Pour une sortie scolaire, la fiche de sortie est disponible à l'impression.</td>
                            </tr>
                            <tr>
                                <td>{{ project_icons("validated-1") }}</td>
                                <td>Projet dévalidé</td>
                                <td>{{ project_actors("direction") }}</td>
                                <td><strong>Dévalidation du projet :</strong> le projet est dévalidé pour autoriser des modifications de dernière minute. Le projet revient ainsi à l'état "approuvé".</td>
                            </tr>
                            <tr>
                                <td>{{ project_icons("ready") }}</td>
                                <td>Demande de validation</td>
                                <td>{{ project_actors("members") }}</td>
                                <td><strong>Ajustement du projet :</strong> le projet est ajusté et une nouvelle demande de validation est effectuée.</td>
                            </tr>
                            <tr>
                                <td>{{ project_icons("validated") }}</td>
                                <td>Projet validé</td>
                                <td>{{ project_actors("direction") }}</td>
                                <td><strong>Validation du projet :</strong> la fiche projet devient non modifiable. Pour une sortie scolaire, la fiche de sortie est disponible à l'impression.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <h2 class="title is-4">Notes</h2>
                <ul>
                    <li><strong>Projet non retenu :</strong> après une demande d'accord ou de validation, un projet peut ne pas être retenu. Le projet a alors le statut <strong>"Non retenu"</strong> (icône {{ project_icons("rejected") }}) et ne peut plus être modifié.</li>
                    <li><strong>Modification d'un projet :</strong> une fiche projet est collaborative. Elle peut être modifiée par chacun des membres de l'équipe pédagogique jusqu'à la validation du projet. Seuls les projets de l'année scolaire courante et de l'année scolaire suivante peuvent être modifiés. Un projet d'une année scolaire antérieure ne peut plus être modifié, quelque soit son statut.</li>
                    <li><strong>Duplication d'un projet :</strong> tous les membres de l'équipe pédagogique peuvent dupliquer un projet. Cette action permet de créer un nouveau projet identique ou similaire, par exemple, pour reconduire un projet d'une année précédente. Cela permet de gagner du temps en ne modifiant que les données nécessaires.</li>
                    <li><strong>Suppression d'un projet :</strong> une fiche projet ne peut être supprimée que par son créateur.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
