{% from "_helpers.html" import notification %}

{% extends "base.html" %}

{% block title %}Projets LFS{% endblock %}

{% block content %}
<div class="hero-body">
    <div class="container">
        <div class="block">
            <div class="hero has-text-centered">
                <h1 class="title is-spaced">
                    Projets pédagogiques au LFS
                </h1>
                <h3 class="subtitle is-3 has-text-primary-bold">
                    Saisie et gestion des projets pédagogiques.
                </h3>
            </div>
        </div>

        {{ notification() }}
        
        <div class="has-text-centered">
            <img src="/static/assets/cercle-4-icones_photo-01-1024x891.png" alt="Image Projet Établissement LFS" style="max-height: 500px" class="">
        </div>
    </div>
</div>
{% endblock %}
