{% from "_form_helpers.html" import render_field with context %}

{% extends "base.html" %}

{% block content %}
<div class="columns is-mobile is-centered">
    <div class="column is-narrow-mobile is-one-third-tablet is-one-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
        <h3 class="title">Connexion</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
                {% endif %}
            {% endwith %}
            <form action="/login" method="POST">
                {{ form.hidden_tag() }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.remember, label=false) }}
                <div class="control">
                    <button  type="submit" class="button is-info is-large is-fullwidth">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
