{% from "_projects_helpers.html" import render_project, render_project_buttons, project_icons, comments_icon with context %}
{% from "_helpers.html" import utilisateur, notification with context %}
{% from "_form_helpers.html" import render_form with context %}
{% from "_projects_modals.html" import project_modals %}

{% extends "base.html" %}

{% block title %}
Fiche projet : {{ project.title }} 
{% endblock %}

{% block content %}
<div class="hero-body">
    <div class="container">
        <section class="section">
            <div class="container has-text-centered is-max-desktop">
                <h1 class="title">Fiche projet</h1>
                <h2 class="title is-spaced has-text-primary-20">{{ project.title }}</h2>
                <h3 class="subtitle">Utilisateur : {{ utilisateur() }}</h3>
            </div>
        </section>

        {% if (current_user.p.id|string in project.members.split(",")) or (current_user.p.role in ["gestion", "direction"]) %}
        <div class="block">
            <div class="container has-text-centered">
                <div class="tag is-large is-rounded">
                    <h2 class="subtitle px-2">
                        {% set row_count = dfc | count %}
                        {{ row_count if row_count else "aucun" }} commentaire{{ "" if row_count in [0,1] else "s" }}
                    </h2>
                </div>
            </div>
        </div>
        {% endif %}

        {{ notification() }}

        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-two-thirds">
                        <div class="block">
                            <div class="box is-primary-light p-4">
                                <details name="project" {% if (current_user.p.id|string not in project.members.split(",")) and (current_user.p.role not in ["gestion", "direction"]) %}open{% endif %}>
                                    <summary class="title is-5 has-text-primary">
                                        <span class="pr-3">{{ project.title }}</span> 
                                        {{ project_icons(project.status) }}
                                        {{ comments_icon(project) }}
                                    </summary>
                                    {{ render_project(project) }}
                                    {{ render_project_buttons(form, project, bttns="HDPRVSM") }}
                                    <p class"pb-3"></p>
                                </details>
                            </div>
                        </div>

                        {% if (current_user.p.id == project.pid) or (current_user.p.id|string in project.members.split(",")) or (current_user.p.role in ["gestion", "direction"]) %}
                            {% if not dfc.empty %}
                                {% for row in dfc.itertuples() %}
                                <div class="columns">
                                    {% if current_user.p.id|string in project.members.split(",") %}
                                        {% if row.pid|string in project.members.split(",") %}
                                            <div class="column"></div>
                                            {% set bg_color = "has-background-primary-80" %}
                                        {% else %}
                                            {% set bg_color = "is-primary-light" %}
                                        {% endif %}
                                    {% else %}
                                        {% if row.pid|string not in project.members.split(",") %}
                                            <div class="column"></div>
                                            {% set bg_color = "has-background-primary-80" %}
                                        {% else %}
                                            {% set bg_color = "is-primary-light" %}
                                        {% endif %}
                                    {% endif %}
                                    <div class="column is-two-thirds">
                                        <div class="box {{ bg_color }} p-3">
                                            <div class="media-content">
                                                <div class="content">
                                                <p>
                                                    <span class="has-text-weight-semibold">{{ get_name(row.pid) }}</span> <small>{{ get_date_fr(row.posted_at, withtime=True) }}</small>
                                                    <br />
                                                    {{ row.message|replace("\r\n", "<br/>"|safe) }}
                                                </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}
            
                            {% if not lock %}
                            <div>
                                {{ render_form(form, action='/project/comment/add', cancel='/projects') }}
                            </div>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </section>

        {{ project_modals(form) }}

    </div>
</div>
{% endblock %}

{% block page_scripts %}
{% if action_id %}
<script>
    // execute queued action on DOM content loaded
    document.addEventListener("DOMContentLoaded", () => {
        asyncQueuedAction({{ action_id }});
    }); 
</script>
{% endif %}
{% endblock page_scripts %}