{% extends "base.html" %}

{% from "_projects_helpers.html" import render_project, render_project_buttons, project_icons with context %}
{% from "_helpers.html" import notification with context %}
{% from "_form_helpers.html" import render_form with context %}
{% from "_form_help_modals.html" import form_help_modals, form_markdown_help_modals %}

{% from "_projects_modals.html" import project_modals with context %}

{% block title %}
Fiche projet : {{ project.title }} 
{% endblock %}

{% block content %}
{% set members = project.members | map(attribute='pid') | list %}
{% if project.user.pid not in members %}
    {% set members = members + [project.user.pid] %}
{% endif %}
{% set user_is_involved = current_user.pid in members %}

<div class="hero-body">
    <div class="container">
        <div class="block">
            <div class="has-text-centered is-max-desktop">
                <h1 class="title is-spaced">Fiche projet</h1>
                <h2 class="subtitle is-3 has-text-primary-bold">{{ project.title }}</h2>
            </div>
        </div>

        {% if user_is_involved or (current_user.p.role in ["gestion", "direction"]) %}
        <div class="block">
            <div class="has-text-centered">
                <div class="tag is-large is-rounded">
                    <h2 class="subtitle px-2">
                        {% set nb_comments = project.comments | length %}
                        {{ nb_comments if nb_comments else "aucun" }} commentaire{{ "" if nb_comments in [0,1] else "s" }}
                    </h2>
                </div>
            </div>
        </div>
        {% endif %}

        <section class="section">
            <div class="columns is-centered">
                <div class="column is-four-fifths-tablet">
                    <div class="card">
                        <header class="card-header is-clickable is-size-5">
                            <p class="card-header-title">
                                <span class="icon-text is-flex is-align-items-left has-text-primary">
                                    {{ project_icons(project.status) }}
                                    <span class="tag is-small has-text-weight-light">{{ project.id }}</span>
                                    <span>{{ project.title }}</span>
                                </span>
                            </p>
                            <button class="card-header-icon" aria-label="more options">
                                <span class="icon is-small has-text-primary chevron-icon">
                                <i class="si fa--angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </header>
                        <div class="toggle-project{% if user_is_involved or (current_user.p.role in ["gestion", "direction"]) %} is-hidden{% endif %}">
                            <div class="card-content">
                                {{ render_project(project) }}
                            </div>
                            <footer class="card-footer is-responsive">
                                {{ render_project_buttons(form, project, bttns="HCDSPRVM") }}
                            </footer>
                        </div>
                    </div>
                    {% if user_is_involved or (current_user.p.role in ["gestion", "direction"]) %}
                        {% if project.comments %}
                            {% for comment in project.comments %}
                            <div class="columns">
                                {% if user_is_involved %}
                                    {% if comment.user.pid in members %}
                                        <div class="column"></div>
                                        {% set bg_color = "has-background-primary-soft" %}
                                    {% else %}
                                        {% set bg_color = "is-primary-light" %}
                                    {% endif %}
                                {% else %}
                                    {% if not comment.user.pid in members %}
                                        <div class="column"></div>
                                        {% set bg_color = "has-background-primary-soft" %}
                                    {% else %}
                                        {% set bg_color = "is-primary-light" %}
                                    {% endif %}
                                {% endif %}
                                <div class="column is-three-fifths">
                                    <div class="box {{ bg_color }} p-3">
                                        <div class="media-content">
                                            <div class="content">
                                                <div>
                                                    <span class="has-text-weight-semibold">{{ comment.user.p.firstname }} {{ comment.user.p.name }}</span> <small>{{ get_date_fr(comment.posted_at, withtime=True) }}</small>
                                                </div>
                                                {{ comment.message | markdown | safe }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
        
                        {% if lock < 2  and form.recipients.data %}
                        <div>
                            {{ render_form(form, action='/project/comment/add', cancel='/projects') }}
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </section>

        {{ project_modals(form) }}
        {{ form_markdown_help_modals() }}

    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% if action_id %}
<script>
    // execute queued action on page load
    window.addEventListener("DOMContentLoaded", () => {
        asyncQueuedAction({{ action_id }});
    }); 
</script>
{% endif %}
{% endblock scripts %}