{% from "_projects_helpers.html" import render_project, render_project_buttons, project_icons, comments_icon, project_tooltip with context %}
{% from "_helpers.html" import utilisateur, notification with context %}
{% from "_projects_modals.html" import projects_buttons_modals %}

{% extends "base.html" %}

{% block title %}
{% if session["filter"] == "LFS" %}
Projets du LFS
{% elif session["filter"] == "Projets à valider" %}
Projets à valider
{% elif session["filter"] == "Mes projets" %}
Mes projets
{% elif session["filter"] == "Mes projets à valider" %}
Mes projets à valider
{% else %}
Projets du département {{ session["filter"] }} 
{% endif %}
{% endblock %}

{% block content %}
<div class="hero-body">
    <div class="container">
        <section class="section pt-0">
            <div class="has-text-centered">
                <h1 class="title is-spaced">
                    {% if session["filter"] == "LFS" %}
                    Projets du LFS
                    {% elif session["filter"] == "Projets à valider" %}
                    Projets à valider
                    {% elif session["filter"] == "Mes projets" %}
                    Mes projets
                    {% elif session["filter"] == "Mes projets à valider" %}
                    Mes projets à valider
                    {% else %}
                    Projets du département {{ session["filter"] }} 
                    {% endif %}
                </h1>
                <h2 class="subtitle">Utilisateur : {{ utilisateur() }}</h2>
            </div>
        </section>

        <div class="block">
            <div class="columns is-centered">
                <div class="column">
                    <div class="has-text-centered">
                        <div class="tag is-large is-rounded">
                            <h2 class="subtitle px-2">
                                {% set row_count = df | count %}
                                {{ row_count if row_count else "aucun" }} projet{{ "" if row_count in [0,1] else "s" }}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ notification() }}

        <section class="section">
        <div class="columns is-centered">
            <div class="column is-three-quarters">
                <div class="columns is-multiline">
                    {% if schoolyears %}
                    <div class="column is-narrow">
                        <form action="/projects" method="POST" id="syForm">
                            {{ form3.csrf_token() }}
                            <div class="field">
                                <div class="control">
                                    <div class="select is-rounded">
                                        {{ form3.sy(onchange="submitForm('syForm')") }}
                                    </div>
                                </div>
                                <div class="control is-hidden pr-5">
                                    {{ form3.submit(class_="button is-link") }}
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                    <div class="column">
                        <div class="control pr-5">
                            <input class="input is-rounded search-input" type="text" id="search" placeholder="Rechercher dans les projets..." onkeyup="filterProjects()">
                        </div>
                    </div>
                    <div class="column is-narrow">
                        <form action="/projects" method="POST" id="filterForm">
                            {{ form2.csrf_token() }}
                            <div class="field has-addons-right">
                                <div class="control">
                                    <div class="select is-rounded">
                                        {{ form2.filter(onchange="submitForm('filterForm')") }}
                                    </div>
                                </div>
                                <div class="control is-hidden">
                                    {{ form2.submit(class_="button is-link") }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                {% if not df.empty %}
                <div id="projects">
                    {% for row in df.itertuples() %}
                    <div class="box p-4">
                        <details name="project">
                            <summary class="title is-5 has-text-primary" data-title="{{ project_tooltip(row) }}">
                                <span class="pr-3">{{ loop.index }}. {{ row.title }}</span> {{ project_icons(row.status) }} {{ comments_icon(row.Index) }}
                            </summary>
                            {{ render_project(row) }}
                            {{ render_project_buttons(form, row) }}
                        </details>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                    <p class="pt-5">Aucun projet enregistré</p>
                {% endif %}

                <div class="block">
                    <hr>
                </div>

                {% if not lock %}
                <div class="block">
                    <div class="buttons is-centered">
                        <div class="control">
                            <button class="button is-link is-medium" onclick="window.location.href='/form';">Nouveau projet</button>
                        </div>
                    </div>
                </div>
                {% elif lock == 2 %}
                <div class="block">
                    <p class="has-text-centered">{{ lock_message }}</p>
                </div>
                {% endif %}

            </div>
        </div>
        </section>

        {{ projects_buttons_modals(form) }}

    </div>
</div>
{% endblock %}